@charset "utf-8";
@font-face { font-family: 'GraphikLight'; src: url('../fonts/Graphik-Light-App.eot'); src: url('../fonts/Graphik-Light-App-.eot#iefix') format('embedded-opentype'), url('../fonts/Graphik-Light-App.woff') format('woff'), url('../fonts/Graphik-Light-App.ttf')  format('truetype'), url('../fonts/Graphik-Light-App.svg#97f0e919aefb37a87171730ed056578d') format('svg'); font-style: normal; font-weight: 200; }
@font-face { font-family: 'GraphikRegular'; src: url('../fonts/Graphik-Regular-App.eot'); src: url('../fonts/Graphik-Regular-App-.eot#iefix') format('embedded-opentype'), url('../fonts/Graphik-Regular-App.woff') format('woff'), url('../fonts/Graphik-Regular-App.ttf')  format('truetype'), url('../fonts/Graphik-Regular-App.svg#98038abcf2e1a31c5ff9354427063c38') format('svg'); font-style: normal; font-weight: 400; }
@font-face { font-family: "GraphikMedium"; src: url("../fonts/Graphik-Medium-App.woff2") format("woff2"), url("../fonts/Graphik-Medium-App.woff") format("woff"), url("../fonts/Graphik-Medium-App.otf.html") format("opentype"); font-style: normal; font-weight: 400; }
@font-face { font-family: 'GraphikSemibold'; src: url('../fonts/Graphik-Semibold-App.eot'); src: url('../fonts/Graphik-Semibold-App-.eot#iefix') format('embedded-opentype'), url('../fonts/Graphik-Semibold-App.woff') format('woff'), url('../fonts/Graphik-Semibold-App.ttf')  format('truetype'), url('../fonts/Graphik-Semibold-App.svg#94cf26891958b950e6d00e3febdd10cc') format('svg'); font-style: normal; font-weight: 700; }
@font-face { font-family: "GraphikExtralight"; src: url("../fonts/Graphik-Extralight-App.woff2") format("woff2"), url("../fonts/Graphik-Extralight-App.woff") format("woff"), url("../fonts/Graphik-Extralight-App.otf.html") format("opentype"); font-style: normal; font-weight: 400; }

/* ===================================
    Reset
====================================== */
body { font-family: 'GraphikRegular', sans-serif; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-size: 13px; color: #797979; line-height: 22px; letter-spacing: 0.01em; }
html, body {min-height: 100%;position: relative;height: 100%;}
a { text-decoration: none; color: #4e4e4e; cursor: pointer; outline: 0; }
a:not(.btn):hover, a:focus {color: inherit;text-decoration: underline;}
a:focus { outline: none; }
img { max-width: 100%; height: auto; -webkit-backface-visibility: hidden; }
p { margin: 0 0 22px 0 }
video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }
ul, ol { margin: 0px; }
input, button, button:focus { outline: 0; }
input, textarea, select { border: 1px solid #dfdfdf; font-size: 11px; padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none; }
input[type="submit"] { width: auto }
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; border-radius: 0; }
input:focus, textarea:focus { border: 1px solid #989898; outline: none; }
input[type="submit"]:focus { border: none }
select::-ms-expand { display: none; }
iframe { border: 0; }
iframe, embed, object { max-width: 100%; }
iframe { border-width: 0px; }
ul.circle { list-style-type: circle; }
ul.square { list-style-type: square; }
ol.upper-roman { list-style-type: upper-roman; }
ol.lower-alpha { list-style-type: lower-alpha; }
dl { list-style-position: outside; }
a, button, input[type="submit"] { transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
::selection { color: #000; background: #dcdcdc; }
::-moz-selection { color: #000; background: #dcdcdc; }
::-webkit-input-placeholder { color: #999; text-overflow: ellipsis; }
:-moz-placeholder { color: #999; text-overflow: ellipsis; opacity: 1; }
::-moz-placeholder { color: #999; text-overflow: ellipsis; opacity: 1; }
:-ms-input-placeholder { color: #999; text-overflow: ellipsis; opacity: 1; }

/*::-webkit-scrollbar { width:12px }
::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); -moz-box-shadow:inset 0 0 6px rgba(0,0,0,.3); box-shadow:inset 0 0 6px rgba(0,0,0,.3); }
::-webkit-scrollbar-thumb { background:rgba(210,210,210,.8); -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 6px rgba(0,0,0,.5); box-shadow:inset 0 0 6px rgba(0,0,0,.5); }
::-webkit-scrollbar-thumb:window-inactive { background:rgba(210,210,210,.4) }*/
.html-overflow { overflow: hidden; }
/*.no-transition *, .owl-carousel * { transition-timing-function: none; -moz-transition-timing-function: none; -webkit-transition-timing-function: none; -o-transition-timing-function: none; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; }*/

/*.container-fluid { padding: 0 120px; }*/
.container-fluid { max-width: 1920px; }

/* ===================================
    Typography
====================================== */

/* font family */
.main-font { font-family: 'Open Sans', sans-serif; }
.alt-font { font-family: 'Montserrat', sans-serif; font-weight: 500; }

/* heading */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; color: #000; }
h1 { font-size: 50px; line-height: 60px; }
h2 { font-size: 35px; line-height: 40px }
h3 { font-size: 30px; line-height: 35px }
h4 { font-size: 25px; line-height: 33px }
h5 { font-size: 20px; line-height: 30px }
h6 { font-size: 18px; line-height: 23px }

/* different text size */
.text-extra-small { font-size: 10px; line-height: 15px; }
.text-small2 { font-size: 11px; }
.text-small { font-size: 12px; line-height: 20px; display: inline-block }
.text-extra-medium { font-size: 13px; line-height: 24px; }
.text-medium { font-size: 14px; line-height: 24px; }
.text-def { font-size: 16px; line-height: 130% }
.text-large { font-size: 18px; line-height: 31px; }
.text-extra-large { font-size: 22px; line-height: 31px; }
.text-preline { white-space: pre-line; }
.title-small { font-size: 20px; line-height: 30px; }
.title-medium { font-size: 22px; line-height: 30px; }
.title-large { font-size: 28px; line-height: 35px; }
.title-extra-large { font-size: 35px; line-height: 40px; }
.title-extra-large-2 { font-size: 72px; line-height: 86px; }
.title-extra-large-3 { font-size: 55px; line-height: 57px; }
.title-extra-large-4 { font-size: 60px; line-height: 67px; }
.title-extra-large-4 span { font-size: 120px; line-height: 130px; }
.title-extra-large-5 { font-size: 70px; line-height: 80px; }
.title-extra-large-6 { font-size: 80px; line-height: 90px; }
.title-extra-large-7 { font-size: 90px; line-height: 90px; }
.title-extra-large-8 { font-size: 100px; line-height: 100px; }
.title-extra-large-9 { font-size: 110px; line-height: 100px; }
.title-big { font-size: 90px; line-height: 95px; }
.title-extra-big { font-size: 150px; line-height: 160px; }
.title-extra-big-2 { font-size: 160px; line-height: 160px; }
.title-extra-big-3 { font-size: 180px; line-height: 180px; }
.title-extra-big-4 { font-size: 190px; line-height: 190px; }
.title-extra-big-5 { font-size: 200px; line-height: 200px; }
.section-title-large { font-size: 35px; line-height: 39px; }
.section-title-medium { font-size: 30px; line-height: 35px; }
.section-title-small { font-size: 22px; line-height: 26px; }

/* letter spacing */
.letter-spacing-1 { letter-spacing: 1px }
.letter-spacing-2 { letter-spacing: 2px }
.letter-spacing-3 { letter-spacing: 3px }
.letter-spacing-4 { letter-spacing: 4px }
.letter-spacing-5 { letter-spacing: 5px }
.letter-spacing-6 { letter-spacing: 6px }
.letter-spacing-7 { letter-spacing: 7px }
.letter-spacing-8 { letter-spacing: 8px }
.letter-spacing-9 { letter-spacing: 9px }
.letter-spacing-10 { letter-spacing: 10px }
.letter-spacing-minus-1 { letter-spacing: -1px; }
.letter-spacing-minus-2 { letter-spacing: -2px; }
.letter-spacing-minus-3 { letter-spacing: -3px; }
.letter-spacing-minus-4 { letter-spacing: -4px; }
.letter-spacing-minus-5 { letter-spacing: -5px; }
.letter-spacing-minus-6 { letter-spacing: -6px; }
.no-letter-spacing { letter-spacing: 0px }

/* font weight */
.font-extralight { font-family: 'GraphikExtralight'; }
.font-light {font-family: 'GraphikLight', sans-serif;}
.font-regular { font-family: 'GraphikRegular'!important; }
.font-medium {font-family: 'GraphikMedium', sans-serif;}
.font-semi { font-family: 'GraphikSemibold'; }
.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

/* line height */
.line-height-10 { line-height: 10px; }
.line-height-15 { line-height: 15px; }
.line-height-18 { line-height: 18px; }
.line-height-20 { line-height: 20px; }
.line-height-22 { line-height: 22px; }
.line-height-24 { line-height: 24px; }
.line-height-26 { line-height: 26px; }
.line-height-30 { line-height: 30px; }
.line-height-34 { line-height: 34px; }
.line-height-40 { line-height: 40px; }
.line-height-45 { line-height: 45px; }
.line-height-48 { line-height: 48px; }
.line-height-50 { line-height: 50px; }
.line-height-55 { line-height: 55px; }
.line-height-60 { line-height: 60px; }
.line-height-65 { line-height: 65px; }
.line-height-70 { line-height: 70px; }
.line-height-75 { line-height: 75px; }
.line-height-80 { line-height: 80px; }
.line-height-85 { line-height: 85px; }
.line-height-90 { line-height: 90px; }
.line-height-normal { line-height: normal }
.line-height-inherit { line-height: inherit }
.line-height-0 { line-height: 0px; }

/* text property */
.text-transform { text-transform: uppercase }
.text-transform { text-transform:; }
.text-decoration-underline { text-decoration: underline; }
.word-wrap { word-wrap: break-word }
.text-transform-none { text-transform: none }
.line-height-none { line-height: 0 }
.text-decoration-line-through { text-decoration: line-through; }
.font-italic { font-style: italic; }

/* text color */
.text-white { color: #ffffff !important; }
.text-black { color: #000000; }
.text-dark-gray {color: #37383C !important;}
.text-light-gray { color: #AAAAAA; }
.text-light-gray2 { color: #707070; }
.text-medium-gray { color: #848484; }
.text-gray { color: #ababab; }
.text-yellow { color: #ffcf29; }
.text-light-yellow { color: #f7f4ec; }
.text-golden-yellow { color: #ecce63; }
.text-blue { color: #3953a1; }
.text-deep-blue { color: #2e5ba5; }
.text-dark-blue { color: #2c353f; }
.text-fast-blue { color: #3966e6; }
.text-sky-blue-dark { color: #2c91d8; }
.text-blue-gray { color: #919499; }
.text-cyan { color: #31c99b; }
.text-deep-red { color: #e7403a; }
.text-pink { color: #ff3d7f; }
.text-dark-cherry { color: #3d3234; }
.text-rosy-brown { color: #827777; }
.text-light-red { color: #dc6768; }
.text-sky-blue { color: #32b6e6; }
.text-light-green { color: #8BC34A; }
.text-deep-green { color: #6aa84f; }
.text-dark-slate-blue { color: #55365e; }
.text-bitter-sweet { color: #f3605c; }
.text-orange {color: #FF666E;}
.text-light-orange { color: #ff573d; }
.text-deep-purple { color: #472e83; }
.text-chrome-yellow { color: #f5ab35; }
.text-turquoise-green { color: #2ccb8e }
.text-brown { color: #4e2b1f; }
.text-golden { color: #d0ae5e; }
.text-deep-orange { color: #f26149 }
.text-sand-yellow { color: #bdb6b2 }
.text-light-purple-blue { color: #374a8a; }
.text-dark-purple-blue { color: #2a3869; }
.text-puerto-rico { color: #55beae; }
.text-orange-peel { color: #FF9800; }
.text-greenish-blue { color: #3ed6a2; }
.text-light-blue { color: #6D93FF; }
.text-dark-speech-blue { color: #1b1841; }
.text-yellow-ochre { color: #c0812a }
.text-yellowish-gray { color: #817b71 }
.text-light-deep-yellow { color: #f5f0e9 }
.text-dark-aqua { color: #43cbcd; }
.text-emerald { color: #47DF84; }
.text-deep-green-dark { color: #40c37d }
.text-deep-blue-dark { color: #2e70c4 }
.text-very-light-gray { color: #e6e6e6; }
.text-fast-pink { color: #ff1967; }
.text-fast-blue2 { color: #1080f2; }
.text-meteorite { color: #473d5f; }
.text-cinnabar { color: #E74948; }
.text-poison-green { color: #05d561; }
.text-dark-bitter-sweet { color: #807575; }
.text-red { color: #FF0300; }
.text-tequila-gold { color: #c5a47e; }
.text-dark-brown { color: #7d6548; }
.text-light-brown { color: #cec3b5; }
.text-extra-dark-brown { color: #251b10; }

/* slider typography */
.slider-text-middle-main { display: table; height: 100%; width: 100% }
.slider-text-bottom { display: table-cell; vertical-align: bottom; }
.slider-text-top { display: table-cell; vertical-align: top; }
.slider-text-middle { display: table-cell; vertical-align: middle; }
.slider-typography { height: 100%; position: absolute; z-index: 1; right: 0; left: 0; }
.slider-content-box { position: relative; z-index: 2 }

/* ===================================
    Icon
====================================== */

/* icon size */
.icon-extra-big { font-size: 75px; }
.icon-big { font-size: 60px; }
.icon-extra-large { font-size: 50px; }
.icon-large { font-size: 35px; }
.icon-medium { font-size: 30px; }
.icon-small { font-size: 23px; }
.icon-extra-small { font-size: 14px; }

/* social icon */
.social-icon .fa { text-align: center; display: table-cell; vertical-align: middle; width: 30px; height: 30px; font-size: 14px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #fff; background: none; }
.social-icon.medium-social-icon .fa { width: 25px; height: 25px; font-size: 12px; }
.social-icon a:hover .fa { opacity: .6 }
.social-icon .fa-pinterest { background-color: #cb2027; }
.social-icon .fa-rss { background-color: #f26522; }
.social-icon .fa-facebook { background-color: #3b5998; }
.social-icon .fa-twitter { background-color: #00aced; }
.social-icon .fa-flickr { background-color: #ff0084; }
.social-icon .fa-dribbble { background-color: #ea4c89; }
.social-icon .fa-behance { background-color: #42a9fb; }
.social-icon .fa-linkedin { background-color: #007bb6; }
.social-icon .fa-vimeo-square { background-color: #23b6ea; }
.social-icon .fa-youtube { background-color: #bb0000; }
.social-icon .fa-tumblr { background-color: #32506d; }
.social-icon .fa-github-alt { background-color: #333333; }
.social-icon .fa-google-plus { background-color: #dd4b39; }
.social-icon .fa-instagram { background-color: #517fa4; }
.social-icon .fa-soundcloud { background-color: #f80; }
.social-icon-color .fa-pinterest, .social-icon-color .ti-pinterest-alt, .social-icon-color .ti-pinterest { color: #cb2027; }
.social-icon-color .fa-rss { color: #f26522; }
.social-icon-color .fa-facebook, .social-icon-color .ti-facebook { color: #3b5998; }
.social-icon-color .fa-twitter, .social-icon-color .ti-twitter-alt { color: #00aced; }
.social-icon-color .fa-flickr, .social-icon-color .ti-flickr-alt { color: #ff0084; }
.social-icon-color .fa-dribbble, .social-icon-color .ti-dribbble { color: #ea4c89; }
.social-icon-color .fa-behance { color: #42a9fb; }
.social-icon-color .fa-linkedin, .social-icon-color .ti-linkedin { color: #007bb6; }
.social-icon-color .fa-vimeo-square, .social-icon-color .ti-vimeo-alt { color: #23b6ea; }
.social-icon-color .fa-youtube { color: #bb0000; }
.social-icon-color .fa-tumblr, .social-icon-color .ti-tumblr-alt { color: #32506d; }
.social-icon-color .fa-github-alt { color: #333333; }
.social-icon-color .fa-google-plus, .social-icon-color .ti-google { color: #dd4b39; }
.social-icon-color .fa-instagram, .social-icon-color .ti-instagram { color: #517fa4; }
.social-icon-color .fa-soundcloud, .social-icon-color .ti-soundcloud { color: #f80; }

/* icon style */
.icon-box i { margin: 0 30px }
.i-large-box { width: 100px; height: 100px; line-height: 98px; text-align: center; font-size: 40px }
.i-medium-box { width: 80px; height: 80px; line-height: 80px; text-align: center; font-size: 30px; }
.i-small-box { width: 60px; height: 60px; line-height: 60px; text-align: center; font-size: 22px }
.i-extra-small-box { width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 15px }
.i-plain { color: #737373; background-color: transparent; }
.i-plain:hover { color: #fff; background-color: #737373 !important; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.i-rounded { border-radius: 3px; background-color: #000; color: #fff; border: 1px solid rgba(0, 0, 0, 0.15); }
.i-rounded:hover { background-color: #fff; color: #9a9a9a; border: 1px solid rgba(0, 0, 0, 0.15); }
.i-bordered { border: 1px solid rgba(0, 0, 0, 0.15); background-color: transparent; color: #9a9a9a }
.i-bordered:hover { background-color: #000; color: #fff }
.i-circled { border-radius: 50%; }
.i-light { background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .08) inset; color: #9a9a9a; text-shadow: 1px 1px 1px #fff; }
.i-light:hover { background-color: #fff; box-shadow: 0 0 30px rgba(0, 0, 0, .15) inset; color: #444; text-shadow: none }
.i-3d { box-shadow: 0 0 3px rgba(0, 0, 0, .1); color: #9a9a9a; background-color: #fff; color: #000 }
.i-3d:hover { box-shadow: 0 0 4px rgba(0, 0, 0, .3); }
.i-3d-border { border-bottom: 3px solid rgba(0, 0, 0, 0.15); color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) }
.i-3d-border:hover { border-bottom: 3px solid rgba(0, 0, 0, 0.30); color: #fff; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }

/* ===================================
    Background Color
====================================== */
.bg-white { background: #fff; }
.bg-black { background: #000000; }
.bg-gray { background-color: #F5F5F5 !important; }
.bg-brown { background-color: #efe6da; }
.bg-light-gray { background-color: #F8F8F9!important; }
.bg-dark-gray { background: #282828; }
.bg-middle-gray { background: #dedede; }
.bg-dark-blue { background: #2c353f; }
.bg-fast-blue { background: #3966e6; }
.bg-blue { background: #1f337a; }
.bg-deep-blue { background: #2e5ba5; }
.bg-sky-blue { background: #32b6e6; }
.bg-sky-blue-dark { background: #2c91d8; }
.bg-cyan { background-color: #31c99b; }
.bg-light-cyan { background-color: #6dc6a8; }
.bg-cream { background-color: #f7f5e7; }
.bg-dark-cream { background-color: #ac9377; }
.bg-dark-cherry { background: #3d3234; }
.bg-pink { background: #ff3d7f; }
.bg-deep-red { background: #e7403a; }
.bg-rosy-brown { background: #9f9292; }
.bg-light-red { background: #dc6768; }
.bg-light-green { background: #8BC34A; }
.bg-medium-green { background: #259319; }
.bg-deep-green { background: #6aa84f; }
.bg-yellow { background: #ffcf29; }
.bg-light-yellow { background: #f7f4ec; }
.bg-golden-yellow { background: #ecce63; }
.bg-purple { background: #221825; }
.bg-dark-slate-blue { background: #353d4f; }
.bg-bitter-sweet { background: #f3605c; }
.bg-scarlet-gum { background: #432a4b; }
.bg-orange { background: #ef5037; }
.bg-light-orange { background: #FF666E; }
.bg-chrome-yellow { background: #f5ab35; }
.bg-gray-yellow { background: #f6f5f5; }
.bg-very-light-gray { background: #f8f8f8; }
.bg-turquoise-green { background: #2ccb8e }
.bg-golden { background: #d0ae5e; }
.bg-deep-orange { background: #f26149 }
.bg-sand-yellow { background: #fbf9f3 }
.bg-sand-yellow-dark { background: #4a3b34 }
.bg-deep-purple { background: #4b3a6c }
.bg-dark-purple-blue { background: #2a3869; }
.bg-puerto-rico { background: #55beae; }
.bg-orange-peel { background: #FF9800; }
.bg-greenish-blue { background: #3ed6a2; }
.bg-light-blue { background: #6D93FF; }
.bg-dark-speech-blue { background: #1b1841; }
.bg-light-deep-yellow { background: #f5f0e9 }
.bg-yellow-ochre { background: #c0812a }
.bg-yellowish-gray { background: #8f887e }
.bg-aqua { background: #46eff0; }
.bg-emerald { background: #47DF84; }
.bg-mongoose { background: #A78A73; }
.bg-deep-green-dark { background: #40c37d }
.bg-deep-blue-dark { background: #2e70c4 }
.bg-light-purple-blue { background: #374a8a; }
.bg-middle-light-gray { background: #686868; }
.bg-cod-grey { background: #313233; }
.bg-charcoal { background: #242526; }
.bg-black-russian { background: #1c1c1d; }
.bg-light-gray2 { background: #ededed; }
.bg-fast-pink { background: #ff1967; }
.bg-fast-blue2 { background: #1080f2; }
.bg-meteorite { background: #473d5f; }
.bg-cinnabar { background: #E74948; }
.bg-dark-gray2 { background: #181818; }
.bg-poison-green { background: #05d561; }
.bg-light-bitter-sweet { background: #f8eded; }
.bg-red { background: #bc3031; }
.bg-nero { background: #272727; }
.bg-dark-nero { background: #0e0e0e; }
.bg-medium-nero { background: #1f1f1f; }
.bg-tequila-gold { background: #c5a47e; }
.bg-dark-purple { background: #181623; }
.bg-dark-brown { background: #7d6548; }
.bg-very-light-brown { background: #eee3d6; }

/* rgb background color */
.bg-cyan-rgba { background-color: rgba(49, 201, 155, 0.9); }
.bg-white-light-rgba { background-color: rgba(255, 255, 255, 0.9); }
.bg-black-light-rgba { background-color: rgba(0, 0, 0, 0.45); }
.bg-black-dark-rgba { background-color: rgba(0, 0, 0, 0.8); }
.bg-greenish-blue-rgba { background-color: rgba(62, 214, 162, 0.80); }
.bg-orange-rgba { background-color: rgba(255, 152, 0, 0.8); }
.bg-black-medium-rgba { background-color: rgba(0, 0, 0, 0.7); }

/* opacity */
.no-opacity { opacity: 1!important; }
.no-shadow { box-shadow: none!important; }
.only-opacity-light { opacity: 0.5; }
.opacity-light { position: absolute; height: 100%; width: 100%; opacity: 0.5; z-index: 1; top: 0; left: 0 }
.opacity-medium { position: absolute; height: 100%; width: 100%; opacity: 0.7; z-index: 1; top: 0; left: 0 }
.opacity-full { position: absolute; height: 100%; width: 100%; opacity: 0.8; top: 0; left: 0 }
.opacity-full-dark { position: absolute; height: 100%; width: 100%; opacity: 0.9; z-index: 1; top: 0; left: 0 }

/* background image */
.cover-background { background-position: center top !important; background-repeat: no-repeat; background-size: cover !important; overflow: hidden; position: relative; }
.fix-background { background-attachment: fixed; background-position: center center; background-repeat: no-repeat; background-size: cover; overflow: hidden; position: relative; }

/* ===================================
    Border Color
====================================== */
.border-light { border: 1px solid rgba(0, 0, 0, .1); }
.border-dark { border: 1px solid #454545; }
.border-light-blue { border: 1px solid #6D93FF; }
.border-top { border-top: 1px solid rgba(0, 0, 0, .12); }
.border-right { border-right: 1px solid rgba(0, 0, 0, .12); }
.border-top-light { border-top: 1px solid rgba(255, 255, 255, .12); }
.border-right-white { border-right: 1px solid rgba(255, 255, 255, 255); }
.border-bottom {border-bottom: 1px solid #dcdcdc!important;}
.border-bottom-medium-dark { border-bottom: 1px solid #979797; }
.border-bottom-light { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.border-none { border: 0 }
.border-top-none { border-top: 0 }
.border-bottom-none { border-bottom: 0 }
.border-left-none { border-left: 0 }
.border-right-none { border-right: 0 }
.border-radius-0 { border-radius: 0px; }
.border-radius-2 { border-radius: 2px; }
.border-radius-3 { border-radius: 3px; }
.border-radius-4 { border-radius: 4px; }
.border-radius-6 { border-radius: 6px; }
.border-radius-8 { border-radius: 8px; }
.border-radius-10 { border-radius: 10px; }
.border-radius-20 { border-radius: 20px; }
.border-radius-30 { border-radius: 30px; }
.border-radius-40 { border-radius: 40px; }
.border-radius-50 { border-radius: 50%; }
.border-radius-100 { border-radius: 100%; }
.border-color-light-white { border-color: rgba(255, 255, 255, .4) }
.img-border { border: 6px solid #fff; height: calc(100% - 40px); width: calc(100% - 40px); left: 20px; top: 20px; position: absolute; }

/* border color */
.border-2-white { border: 2px solid #ffffff; }
.border-2-fast-blue { border: 2px solid #3966e6; }
.border-2-light-green { border: 2px solid #8BC34A; }
.border-2-medium-green { border: 2px solid #259319; }
.border-2-deep-green { border: 2px solid #6aa84f; }
.border-2-sky-blue { border: 2px solid #32b6e6; }
.border-2-sky-blue-dark { border: 2px solid #2c91d8; }
.border-2-light-gray { border: 2px solid #b8b8b8; }
.border-2-dark-gray { border: 2px solid #282828; }
.border-2-bitter-sweet { border: 2px solid #f3605c; }
.border-3-bitter-sweet { border: 3px solid #f3605c; }
.border-2-yellow { border: 2px solid #ffcf29; }
.border-10-light-red { border: 10px solid #f18182; }
.border-2-chrome-yellow { border: 2px solid #f5ab35; }
.border-2-turquoise-green { border: 2px solid #2ccb8e; }
.border-2-golden { border: 2px solid #d0ae5e; }
.border-2-deep-orange { border: 2px solid #f26149; }
.border-2-orange-peel { border: 2px solid #FF9800; }
.border-greenish-blue { border: 2px solid #3ed6a2; }
.border-2-dark-aqua { border: 2px solid #43cbcd; }
.border-2-deep-green-dark { border: 2px solid #40c37d; }
.border-2-deep-blue-dark { border: 2px solid #2e70c4; }
.border-2-orange { border: 2px solid #ef5037; }
.border-2-fast-blue2 { border: 2px solid #1080f2; }
.border-2-red { border: 2px solid #bc3031; }
.border-2-cinnabar { border: 2px solid #E74948; }
.border-2-poison-green { border: 2px solid #05d561; }
.border-tequila-gold { border: 5px solid rgba(197, 164, 126, .5); }
.border-2-tequila-gold { border: 2px solid #c5a47e; }
.border-1-light-gray { border: 1px solid #e9e9e9; }

/* ===================================
    Margin
====================================== */
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px!important; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }
.mt-55 { margin-top: 55px; }
.mt-60 { margin-top: 60px; }
.mt-65 { margin-top: 65px; }
.mt-70 { margin-top: 70px; }
.mt-75 { margin-top: 75px; }
.mt-80 { margin-top: 80px; }
.mt-90 { margin-top: 90px; }
.mt-100 { margin-top: 100px; }
.mt-110 { margin-top: 110px; }
.mt-120 {margin-top: 120px;}
.mt-130 { margin-top: 130px; }
.mt-140 { margin-top: 140px; }
.mt-150 { margin-top: 150px; }
.mt-160 { margin-top: 160px; }
.mt-170 { margin-top: 170px; }
.mt-180 { margin-top: 180px; }
.mt-200 { margin-top: 200px; }
.mt-280 { margin-top: 280px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }
.mb-55 { margin-bottom: 55px; }
.mb-60 { margin-bottom: 60px; }
.mb-65 { margin-bottom: 65px; }
.mb-70 { margin-bottom: 70px; }
.mb-75 { margin-bottom: 75px; }
.mb-80 { margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }
.mb-110 { margin-bottom: 110px; }
.mb-120 { margin-bottom: 120px; }
.mb-130 { margin-bottom: 130px; }
.mb-140 { margin-bottom: 140px; }
.mb-150 { margin-bottom: 150px; }
.mb-160 { margin-bottom: 160px; }
.mb-170 { margin-bottom: 170px; }
.mb-180 { margin-bottom: 180px; }
.mb-200 { margin-bottom: 200px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
.ml-55 { margin-left: 55px; }
.ml-60 { margin-left: 60px; }
.ml-65 { margin-left: 65px; }
.ml-70 { margin-left: 70px; }
.ml-75 { margin-left: 75px; }
.ml-80 { margin-left: 80px; }
.ml-90 { margin-left: 90px; }
.ml-100 { margin-left: 100px; }
.ml-110 { margin-left: 110px; }
.ml-120 { margin-left: 120px; }
.ml-130 { margin-left: 130px; }
.ml-140 { margin-left: 140px; }
.ml-150 { margin-left: 150px; }
.ml-160 { margin-left: 160px; }
.ml-170 { margin-left: 170px; }
.ml-180 { margin-left: 180px; }
.ml-200 { margin-left: 200px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }
.mr-55 { margin-right: 55px; }
.mr-60 { margin-right: 60px; }
.mr-65 { margin-right: 65px; }
.mr-70 { margin-right: 70px; }
.mr-75 { margin-right: 75px; }
.mr-80 { margin-right: 80px; }
.mr-90 { margin-right: 90px; }
.mr-100 { margin-right: 100px; }
.mr-110 { margin-right: 110px; }
.mr-120 { margin-right: 120px; }
.mr-130 { margin-right: 130px; }
.mr-140 { margin-right: 140px; }
.mr-150 { margin-right: 150px; }
.mr-160 { margin-right: 160px; }
.mr-170 { margin-right: 170px; }
.mr-180 { margin-right: 180px; }
.mr-200 { margin-right: 200px; }

/* margin all side */
.margin-one-half { margin: 0.5% }
.margin-one { margin: 1% }
.margin-two { margin: 1.5% }
.margin-three { margin: 2% }
.margin-four { margin: 2.5% }
.margin-five { margin: 3% }
.margin-six { margin: 3.5% }
.margin-seven { margin: 4% }
.margin-eight { margin: 4.5% }
.margin-nine { margin: 5% }
.margin-ten { margin: 5.5% }
.margin-eleven { margin: 6% }
.margin-twelve { margin: 6.5% }
.margin-thirteen { margin: 7% }
.margin-fourteen { margin: 7.5% }
.margin-fifteen { margin: 8% }
.margin-sixteen { margin: 8.5% }
.margin-seventeen { margin: 9% }
.margin-eighteen { margin: 9.5% }
.margin-nineteen { margin: 10% }
.margin-twenty { margin: 10.5% }
.margin-twenty-one { margin: 11% }
.margin-twenty-two { margin: 11.5% }
.margin-twenty-three { margin: 12% }
.margin-twenty-four { margin: 12.5% }
.margin-twenty-five { margin: 13% }
.margin-twenty-six { margin: 13.5% }
.margin-twenty-seven { margin: 14% }
.margin-twenty-eight { margin: 14.5% }
.margin-twenty-nine { margin: 15% }
.margin-thirty { margin: 15.5% }
.margin-thirty-one { margin: 16% }
.margin-thirty-two { margin: 16.5% }
.margin-thirty-three { margin: 17% }
.margin-thirty-four { margin: 17.5% }
.margin-thirty-five { margin: 18% }

/* margin bottom */
.margin-one-half-bottom { margin-bottom: 0.5% }
.margin-one-bottom { margin-bottom: 1% }
.margin-two-bottom { margin-bottom: 1.5% }
.margin-three-bottom { margin-bottom: 2% }
.margin-four-bottom { margin-bottom: 2.5% }
.margin-five-bottom { margin-bottom: 3% }
.margin-six-bottom { margin-bottom: 3.5% }
.margin-seven-bottom { margin-bottom: 4% }
.margin-eight-bottom { margin-bottom: 4.5% }
.margin-nine-bottom { margin-bottom: 5% }
.margin-ten-bottom { margin-bottom: 5.5% }
.margin-eleven-bottom { margin-bottom: 6% }
.margin-twelve-bottom { margin-bottom: 6.5% }
.margin-thirteen-bottom { margin-bottom: 7% }
.margin-fourteen-bottom { margin-bottom: 7.5% }
.margin-fifteen-bottom { margin-bottom: 8% }
.margin-sixteen-bottom { margin-bottom: 8.5% }
.margin-seventeen-bottom { margin-bottom: 9% }
.margin-eighteen-bottom { margin-bottom: 9.5% }
.margin-nineteen-bottom { margin-bottom: 10% }
.margin-twenty-bottom { margin-bottom: 10.5% }
.margin-twenty-one-bottom { margin-bottom: 11% }
.margin-twenty-two-bottom { margin-bottom: 11.5% }
.margin-twenty-three-bottom { margin-bottom: 12% }
.margin-twenty-four-bottom { margin-bottom: 12.5% }
.margin-twenty-five-bottom { margin-bottom: 13% }
.margin-twenty-six-bottom { margin-bottom: 13.5% }
.margin-twenty-seven-bottom { margin-bottom: 14% }
.margin-twenty-eight-bottom { margin-bottom: 14.5% }
.margin-twenty-nine-bottom { margin-bottom: 15% }
.margin-thirty-bottom { margin-bottom: 15.5% }
.margin-thirty-one-bottom { margin-bottom: 16% }
.margin-thirty-two-bottom { margin-bottom: 16.5% }
.margin-thirty-three-bottom { margin-bottom: 17% }
.margin-thirty-four-bottom { margin-bottom: 17.5% }
.margin-thirty-five-bottom { margin-bottom: 18% }
.margin-bottom-10px { margin-bottom: 10px }
.margin-bottom-15px { margin-bottom: 15px }

/* margin top */
.margin-one-half-top { margin-top: 0.5% }
.margin-one-top { margin-top: 1% }
.margin-two-top { margin-top: 1.5% }
.margin-three-top { margin-top: 2% }
.margin-four-top { margin-top: 2.5% }
.margin-five-top { margin-top: 3% }
.margin-six-top { margin-top: 3.5% }
.margin-seven-top { margin-top: 4% }
.margin-eight-top { margin-top: 4.5% }
.margin-nine-top { margin-top: 5% }
.margin-ten-top { margin-top: 5.5% }
.margin-eleven-top { margin-top: 6% }
.margin-twelve-top { margin-top: 6.5% }
.margin-thirteen-top { margin-top: 7% }
.margin-fourteen-top { margin-top: 7.5% }
.margin-fifteen-top { margin-top: 8% }
.margin-sixteen-top { margin-top: 8.5% }
.margin-seventeen-top { margin-top: 9% }
.margin-eighteen-top { margin-top: 9.5% }
.margin-nineteen-top { margin-top: 10% }
.margin-twenty-top { margin-top: 10.5% }
.margin-twenty-one-top { margin-top: 11% }
.margin-twenty-two-top { margin-top: 11.5% }
.margin-twenty-three-top { margin-top: 12% }
.margin-twenty-four-top { margin-top: 12.5% }
.margin-twenty-five-top { margin-top: 13% }
.margin-twenty-six-top { margin-top: 13.5% }
.margin-twenty-seven-top { margin-top: 14% }
.margin-twenty-eight-top { margin-top: 14.5% }
.margin-twenty-nine-top { margin-top: 15% }
.margin-thirty-top { margin-top: 15.5% }
.margin-thirty-one-top { margin-top: 16% }
.margin-thirty-two-top { margin-top: 16.5% }
.margin-thirty-three-top { margin-top: 17% }
.margin-thirty-four-top { margin-top: 17.5% }
.margin-thirty-five-top { margin-top: 18% }
.margin-top-5px { margin-top: 5px }
.margin-top-10px { margin-top: 10px }
.margin-top-15px { margin-top: 15px }
.margin-top-30px { margin-top: 30px }
.margin-top-40px { margin-top: 40px }
.margin-top-50px { margin-top: 50px }
.margin-top-60px { margin-top: 60px }
.margin-top-70px { margin-top: 70px }
.margin-top-125px { margin-top: -125px }
.margin-top--5px { margin-top: -5px }
.margin-top--10px { margin-top: -10px }

/* margin left */
.margin-one-half-left { margin-left: 0.5% !important }
.margin-one-left { margin-left: 1% !important }
.margin-two-left { margin-left: 1.5% !important }
.margin-three-left { margin-left: 2% !important }
.margin-four-left { margin-left: 2.5% !important }
.margin-five-left { margin-left: 3% !important }
.margin-six-left { margin-left: 3.5% !important }
.margin-seven-left { margin-left: 4% !important }
.margin-eight-left { margin-left: 4.5% !important }
.margin-nine-left { margin-left: 5% !important }
.margin-ten-left { margin-left: 5.5% !important }
.margin-eleven-left { margin-left: 6% !important }
.margin-twelve-left { margin-left: 6.5% !important }
.margin-thirteen-left { margin-left: 7% !important }
.margin-fourteen-left { margin-left: 7.5% !important }
.margin-fifteen-left { margin-left: 8% !important }
.margin-sixteen-left { margin-left: 8.5% !important }
.margin-seventeen-left { margin-left: 9% !important }
.margin-eighteen-left { margin-left: 9.5% !important }
.margin-nineteen-left { margin-left: 10% !important }
.margin-twenty-left { margin-left: 10.5% !important }
.margin-twenty-one-left { margin-left: 11% !important }
.margin-twenty-two-left { margin-left: 11.5% !important }
.margin-twenty-three-left { margin-left: 12% !important }
.margin-twenty-four-left { margin-left: 12.5% !important }
.margin-twenty-five-left { margin-left: 13% !important }
.margin-twenty-six-left { margin-left: 13.5% !important }
.margin-twenty-seven-left { margin-left: 14% !important }
.margin-twenty-eight-left { margin-left: 14.5% !important }
.margin-twenty-nine-left { margin-left: 15% !important }
.margin-thirty-left { margin-left: 15.5% !important }
.margin-thirty-one-left { margin-left: 16% !important }
.margin-thirty-two-left { margin-left: 16.5% !important }
.margin-thirty-three-left { margin-left: 17% !important }
.margin-thirty-four-left { margin-left: 17.5% !important }
.margin-thirty-five-left { margin-left: 18% !important }
.margin-left-5px { margin-left: 5px }
.margin-left-10px { margin-left: 10px }
.margin-left-15px { margin-left: 15px }
.margin-left-25px { margin-left: 25px }
.margin-left-40px { margin-left: 40px }

/* margin right */
.margin-one-half-right { margin-right: 0.5% !important }
.margin-one-right { margin-right: 1% !important }
.margin-two-right { margin-right: 1.5% !important }
.margin-three-right { margin-right: 2% !important }
.margin-four-right { margin-right: 2.5% !important }
.margin-five-right { margin-right: 3% !important }
.margin-six-right { margin-right: 3.5% !important }
.margin-seven-right { margin-right: 4% !important }
.margin-eight-right { margin-right: 4.5% !important }
.margin-nine-right { margin-right: 5% !important }
.margin-ten-right { margin-right: 5.5% !important }
.margin-eleven-right { margin-right: 6% !important }
.margin-twelve-right { margin-right: 6.5% !important }
.margin-thirteen-right { margin-right: 7% !important }
.margin-fourteen-right { margin-right: 7.5% !important }
.margin-fifteen-right { margin-right: 8% !important }
.margin-sixteen-right { margin-right: 8.5% !important }
.margin-seventeen-right { margin-right: 9% !important }
.margin-eighteen-right { margin-right: 9.5% !important }
.margin-nineteen-right { margin-right: 10% !important }
.margin-twenty-right { margin-right: 10.5% !important }
.margin-twenty-one-right { margin-right: 11% !important }
.margin-twenty-two-right { margin-right: 11.5% !important }
.margin-twenty-three-right { margin-right: 12% !important }
.margin-twenty-four-right { margin-right: 12.5% !important }
.margin-twenty-five-right { margin-right: 13% !important }
.margin-twenty-six-right { margin-right: 13.5% !important }
.margin-twenty-seven-right { margin-right: 14% !important }
.margin-twenty-eight-right { margin-right: 14.5% !important }
.margin-twenty-nine-right { margin-right: 15% !important }
.margin-thirty-right { margin-right: 15.5% !important }
.margin-thirty-one-right { margin-right: 16% !important }
.margin-thirty-two-right { margin-right: 16.5% !important }
.margin-thirty-three-right { margin-right: 17% !important }
.margin-thirty-four-right { margin-right: 17.5% !important }
.margin-thirty-five-right { margin-right: 18% !important }
.margin-right-5px { margin-right: 5px }
.margin-right-10px { margin-right: 10px }
.margin-right-15px { margin-right: 15px }
.margin-right-25px { margin-right: 25px }
.margin-right-35px { margin-right: 35px }
.no-margin { margin: 0 !important }
.no-margin-lr { margin-left: 0!important; margin-right: 0!important }
.no-margin-tb { margin-top: 0 !important; margin-bottom: 0 !important }
.no-margin-top { margin-top: 0!important }
.no-margin-bottom { margin-bottom: 0 }
.no-margin-left { margin-left: 0 !important }
.no-margin-right { margin-right: 0 !important }
.margin-lr-auto { margin-left: auto; margin-right: auto }

/* ===================================
    Padding
====================================== */

/* padding all side */
.padding-one-half { padding: 0.5% }
.padding-one { padding: 1% }
.padding-two { padding: 1.5% }
.padding-three { padding: 2% }
.padding-four { padding: 2.5% }
.padding-five { padding: 3% }
.padding-six { padding: 3.5% }
.padding-seven { padding: 4% }
.padding-eight { padding: 4.5% }
.padding-nine { padding: 5% }
.padding-ten { padding: 5.5% }
.padding-eleven { padding: 6% }
.padding-twelve { padding: 6.5% }
.padding-thirteen { padding: 7% }
.padding-fourteen { padding: 7.5% }
.padding-fifteen { padding: 8% }
.padding-sixteen { padding: 8.5% }
.padding-seventeen { padding: 9% }
.padding-eighteen { padding: 9.5% }
.padding-nineteen { padding: 10% }
.padding-twenty { padding: 10.5% }
.padding-twenty-one { padding: 11% }
.padding-twenty-two { padding: 11.5% }
.padding-twenty-three { padding: 12% }
.padding-twenty-four { padding: 12.5% }
.padding-twenty-five { padding: 13% }
.padding-twenty-six { padding: 13.5% }
.padding-twenty-seven { padding: 14% }
.padding-twenty-eight { padding: 14.5% }
.padding-twenty-nine { padding: 15% }
.padding-thirty { padding: 15.5% }
.padding-thirty-one { padding: 16% }
.padding-thirty-two { padding: 16.5% }
.padding-thirty-three { padding: 17% }
.padding-thirty-four { padding: 17.5% }
.padding-thirty-five { padding: 18% }

/* padding left */
.padding-one-half-left { padding-left: 0.5% }
.padding-one-left { padding-left: 1% }
.padding-two-left { padding-left: 1.5% }
.padding-three-left { padding-left: 2% }
.padding-four-left { padding-left: 2.5% }
.padding-five-left { padding-left: 3% }
.padding-six-left { padding-left: 3.5% }
.padding-seven-left { padding-left: 4% }
.padding-eight-left { padding-left: 4.5% }
.padding-nine-left { padding-left: 5% }
.padding-ten-left { padding-left: 5.5% }
.padding-eleven-left { padding-left: 6% }
.padding-twelve-left { padding-left: 6.5% }
.padding-thirteen-left { padding-left: 7% }
.padding-fourteen-left { padding-left: 7.5% }
.padding-fifteen-left { padding-left: 8% }
.padding-sixteen-left { padding-left: 8.5% }
.padding-seventeen-left { padding-left: 9% }
.padding-eighteen-left { padding-left: 9.5% }
.padding-nineteen-left { padding-left: 10% }
.padding-twenty-left { padding-left: 10.5% }
.padding-twenty-one-left { padding-left: 11% }
.padding-twenty-two-left { padding-left: 11.5% }
.padding-twenty-three-left { padding-left: 12% }
.padding-twenty-four-left { padding-left: 12.5% }
.padding-twenty-five-left { padding-left: 13% }
.padding-twenty-six-left { padding-left: 13.5% }
.padding-twenty-seven-left { padding-left: 14% }
.padding-twenty-eight-left { padding-left: 14.5% }
.padding-twenty-nine-left { padding-left: 15% }
.padding-left-5px { padding-left: 5px; }
.padding-left-10px { padding-left: 10px; }
.padding-right-10px { padding-right: 10px; }
.padding-left-15px { padding-left: 15px; }
.padding-left-20px { padding-left: 20px; }
.padding-left-25px { padding-left: 25px; }
.padding-left-30px { padding-left: 30px; }
.padding-left-35px { padding-left: 35px; }
.padding-right-40px { padding-right: 40px; }
.padding-left-40px { padding-left: 40px; }
.padding-left-45px { padding-left: 45px; }
.padding-left-50px { padding-left: 50px; }
.padding-left-55px { padding-left: 55px; }
.padding-left-60px { padding-left: 60px; }
.padding-left-65px { padding-left: 65px; }
.padding-left-70px { padding-left: 70px; }
.padding-left-75px { padding-left: 75px; }
.padding-left-80px { padding-left: 80px; }
.padding-left-100px { padding-left: 100px; }
.padding-right-100px { padding-right: 100px; }
.padding-left-140px { padding-left: 125px; }
.padding-right-140px { padding-right: 125px; }

/* padding right */
.padding-one-half-right { padding-right: 0.5% }
.padding-one-right { padding-right: 1% }
.padding-two-right { padding-right: 1.5% }
.padding-three-right { padding-right: 2% }
.padding-four-right { padding-right: 2.5% }
.padding-five-right { padding-right: 3% }
.padding-six-right { padding-right: 3.5% }
.padding-seven-right { padding-right: 4% }
.padding-eight-right { padding-right: 4.5% }
.padding-nine-right { padding-right: 5% }
.padding-ten-right { padding-right: 5.5% }
.padding-eleven-right { padding-right: 6% }
.padding-twelve-right { padding-right: 6.5% }
.padding-thirteen-right { padding-right: 7% }
.padding-fourteen-right { padding-right: 7.5% }
.padding-fifteen-right { padding-right: 8% }
.padding-sixteen-right { padding-right: 8.5% }
.padding-seventeen-right { padding-right: 9% }
.padding-eighteen-right { padding-right: 9.5% }
.padding-nineteen-right { padding-right: 10% }
.padding-twenty-right { padding-right: 10.5% }
.padding-twenty-one-right { padding-right: 11% }
.padding-twenty-two-right { padding-right: 11.5% }
.padding-twenty-three-right { padding-right: 12% }
.padding-twenty-four-right { padding-right: 12.5% }
.padding-twenty-five-right { padding-right: 13% }
.padding-twenty-six-right { padding-right: 13.5% }
.padding-twenty-seven-right { padding-right: 14% }
.padding-twenty-eight-right { padding-right: 14.5% }
.padding-twenty-nine-right { padding-right: 15% }

/* padding top */
.padding-one-half-top { padding-top: 0.5% }
.padding-one-top { padding-top: 1% }
.padding-two-top { padding-top: 1.5% }
.padding-three-top { padding-top: 2% }
.padding-four-top { padding-top: 2.5% }
.padding-five-top { padding-top: 3% }
.padding-six-top { padding-top: 3.5% }
.padding-seven-top { padding-top: 4% }
.padding-eight-top { padding-top: 4.5% }
.padding-nine-top { padding-top: 5% }
.padding-ten-top { padding-top: 5.5% }
.padding-eleven-top { padding-top: 6% }
.padding-twelve-top { padding-top: 6.5% }
.padding-thirteen-top { padding-top: 7% }
.padding-fourteen-top { padding-top: 7.5% }
.padding-fifteen-top { padding-top: 8% }
.padding-sixteen-top { padding-top: 8.5% }
.padding-seventeen-top { padding-top: 9% }
.padding-eighteen-top { padding-top: 9.5% }
.padding-nineteen-top { padding-top: 10% }
.padding-twenty-top { padding-top: 10.5% }
.padding-twenty-one-top { padding-top: 11% }
.padding-twenty-two-top { padding-top: 11.5% }
.padding-twenty-three-top { padding-top: 12% }
.padding-twenty-four-top { padding-top: 12.5% }
.padding-twenty-five-top { padding-top: 13% }
.padding-twenty-six-top { padding-top: 13.5% }
.padding-twenty-seven-top { padding-top: 14% }
.padding-twenty-eight-top { padding-top: 14.5% }
.padding-twenty-nine-top {padding-top: 15%;}
.padding-top-5px { padding-top: 5px!important; }
.padding-top-10px { padding-top: 10px!important; }
.padding-top-15px { padding-top: 15px; }
.padding-top-20px { padding-top: 20px; }
.padding-top-25px { padding-top: 25px; }
.padding-top-30px { padding-top: 30px; }
.padding-top-35px { padding-top: 35px; }
.padding-top-40px { padding-top: 40px; }
.padding-top-45px { padding-top: 45px; }
.padding-top-50px { padding-top: 50px; }
.padding-top-55px { padding-top: 55px; }
.padding-top-60px { padding-top: 60px; }
.padding-top-65px { padding-top: 65px; }
.padding-top-70px { padding-top: 70px; }
.padding-top-75px { padding-top: 75px; }
.padding-top-80px { padding-top: 80px; }
.padding-top-120px { padding-top: 120px; }
.padding-top-160px { padding-top: 160px; }

/* padding bottom */
.padding-one-half-bottom { padding-bottom: 0.5% }
.padding-one-bottom { padding-bottom: 1% }
.padding-two-bottom { padding-bottom: 1.5% }
.padding-three-bottom { padding-bottom: 2% }
.padding-four-bottom { padding-bottom: 2.5% }
.padding-five-bottom { padding-bottom: 3% }
.padding-six-bottom { padding-bottom: 3.5% }
.padding-seven-bottom { padding-bottom: 4% }
.padding-eight-bottom { padding-bottom: 4.5% }
.padding-nine-bottom { padding-bottom: 5% }
.padding-ten-bottom { padding-bottom: 5.5% }
.padding-eleven-bottom { padding-bottom: 6% }
.padding-twelve-bottom { padding-bottom: 6.5% }
.padding-thirteen-bottom { padding-bottom: 7% }
.padding-fourteen-bottom { padding-bottom: 7.5% }
.padding-fifteen-bottom { padding-bottom: 8% }
.padding-sixteen-bottom { padding-bottom: 8.5% }
.padding-seventeen-bottom { padding-bottom: 9% }
.padding-eighteen-bottom { padding-bottom: 9.5% }
.padding-nineteen-bottom { padding-bottom: 10% }
.padding-twenty-bottom { padding-bottom: 10.5% }
.padding-twenty-one-bottom { padding-bottom: 11% }
.padding-twenty-two-bottom { padding-bottom: 11.5% }
.padding-twenty-three-bottom { padding-bottom: 12% }
.padding-twenty-four-bottom { padding-bottom: 12.5% }
.padding-twenty-five-bottom { padding-bottom: 13% }
.padding-twenty-six-bottom { padding-bottom: 13.5% }
.padding-twenty-seven-bottom { padding-bottom: 14% }
.padding-twenty-eight-bottom { padding-bottom: 14.5% }
.padding-twenty-nine-bottom { padding-bottom: 15% }
.padding-bottom-5px { padding-bottom: 5px !important; }
.padding-bottom-10px { padding-bottom: 10px !important; }
.padding-bottom-15px { padding-bottom: 15px !important; }
.padding-bottom-20px { padding-bottom: 20px !important; }
.padding-bottom-25px { padding-bottom: 25px !important; }
.padding-bottom-30px { padding-bottom: 30px !important; }
.padding-bottom-35px { padding-bottom: 35px !important; }
.padding-bottom-40px { padding-bottom: 40px !important; }
.padding-bottom-45px { padding-bottom: 45px !important; }
.padding-bottom-50px { padding-bottom: 50px !important; }
.padding-bottom-60px { padding-bottom: 60px !important; }
.padding-bottom-70px { padding-bottom: 70px !important; }
.padding-bottom-90px { padding-bottom: 90px !important; }
.padding-left-right-px { padding: 0 15px; }
.padding-30px-top { padding-top: 30px; }
.padding-40px-top { padding-top: 40px; }
.padding-60px-top { padding-top: 60px; }
.padding-90px-top { padding-top: 90px; }
.padding-110px-top { padding-top: 110px; }
.padding-120px-top { padding-top: 120px; }
.padding-130px-top { padding-top: 130px; }
.padding-140px-top { padding-top: 140px; }
.padding-150px-top { padding-top: 150px; }
.padding-200px-top { padding-top: 200px; }
.padding-250px-top { padding-top: 250px; }
.padding-300px-top { padding-top: 300px; }
.padding-60px-bottom { padding-bottom: 60px; }
.padding-200px-bottom { padding-bottom: 214px; }
.padding-300px-bottom { padding-bottom: 300px; }
.padding-30px-tb { padding-top: 30px; padding-bottom: 30px; }
.padding-40px-tb { padding-top: 40px; padding-bottom: 40px; }
.padding-50px-tb { padding-top: 50px; padding-bottom: 50px; }
.padding-60px-tb { padding-top: 60px; padding-bottom: 60px; }
.padding-70px-tb { padding-top: 70px; padding-bottom: 70px; }
.padding-80px-tb { padding-top: 80px; padding-bottom: 80px; }
.padding-90px-tb { padding-top: 90px; padding-bottom: 90px; }
.padding-110px-tb { padding-top: 110px; padding-bottom: 110px; }
.padding-120px-tb { padding-top: 120px; padding-bottom: 120px; }
.padding-130px-tb { padding-top: 130px; padding-bottom: 130px; }
.padding-140px-tb { padding-top: 140px; padding-bottom: 140px; }
.padding-150px-tb { padding-top: 150px; padding-bottom: 150px; }
.padding-180px-tb { padding-top: 180px; padding-bottom: 180px; }
.padding-200px-tb { padding-top: 214px; padding-bottom: 214px; }
.padding-270px-tb { padding-top: 270px; padding-bottom: 270px; }
.padding-300px-tb { padding-top: 300px; padding-bottom: 300px; }
.no-padding { padding: 0 }
.no-padding-lr { padding-left: 0; padding-right: 0 }
.no-padding-tb { padding-top: 0!important; padding-bottom: 0!important;}
.no-padding-top { padding-top: 0!important; }
.no-padding-bottom { padding-bottom: 0!important; }
.no-padding-left { padding-left: 0!important; }
.no-padding-right { padding-right: 0 }

/* ===================================
    Custom
====================================== */

/* float */
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }

/* section */
.center-col { float: none; margin-left: auto; margin-right: auto; }
.clear-both { clear: both }

/* separator */
.separator-line { height: 1px; width: 68px; }
.separator-line1 { height: 1px; width: 65px; }
.separator-line2 { height: 3px; width: 60px; }
.separator-line3 { height: 3px; width: 40px; }
.separator-line-full { height: 1px; margin: 0 auto; width: 100%; }

/* vertical align */
.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }
.vertical-align-top { vertical-align: top; }
.vertical-align-sub { vertical-align: sub; }

/* display */
.display-block { display: block }
.overflow-hidden { overflow: hidden }
.overflow-auto { overflow: auto }
.display-inline-block { display: inline-block }
.display-inline { display: inline }
.display-none { display: none }
.display-inherit { display: inherit }
.display-table {display: table;}
.display-table-cell-vertical-middle {display: table-cell;vertical-align: middle;float: none;}
.display-table-cell-vertical-bottom { display: table-cell; vertical-align: bottom; float: none; }
.list-style-none { list-style: none; padding: 0; margin: 0; }

/* position */
.position-relative { position: relative; z-index: 5 }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.position-inherit { position: inherit; }
.position-static { position: static }
.position-right { right: 0; }
.position-left { left: 0; }
.position-top { top: 0; }
.position-bottom { bottom: 0; }

/* top */
.top-1 { top: 1px; }
.top-2 { top: 2px; }
.top-3 { top: 3px; }
.top-4 { top: 4px; }
.top-5 { top: 5px; }
.top-6 { top: 6px; }
.top-7 { top: 7px; }
.top-8 { top: 8px; }
.top-9 { top: 9px; }
.top-10 { top: 10px; }
.top-minus1 { top: -1px }
.top-minus2 { top: -2px }
.top-minus3 { top: -3px }
.top-minus4 { top: -4px }
.top-minus5 { top: -5px }
.top-minus6 { top: -6px }
.top-minus7 { top: -7px }
.top-minus8 { top: -8px }
.top-minus9 { top: -9px }
.top-minus10 { top: -10px }
.left-minus1 { left: -1px }
.left-minus2 { left: -2px }
.left-minus3 { left: -3px }
.left-minus4 { left: -4px }
.left-minus5 { left: -5px }
.left-minus6 { left: -6px }
.left-minus7 { left: -7px }
.left-minus8 { left: -8px }
.left-minus9 { left: -9px }
.left-minus10 { left: -10px }
.left-minus15 { left: -15px }
.left-minus65 { left: -65px }
.left-1 { left: 1px }
.left-2 { left: 2px }
.left-3 { left: 3px }
.left-4 { left: 4px }
.left-5 { left: 5px }
.left-6 { left: 6px }
.left-7 { left: 7px }
.left-8 { left: 8px }
.left-9 { left: 9px }
.left-10 { left: 10px }

/* bottom */
.bottom-3 { bottom: 3px; }
.bottom-4 { bottom: 4px; }
.bottom-5 { bottom: 5px; }
.bottom-6 { bottom: 6px; }
.bottom-7 { bottom: 7px; }
.bottom-8 { bottom: 8px; }
.bottom-9 { bottom: 9px; }
.bottom-10 { bottom: 10px; }

/* width */
.width { display: inline-block; position: relative; width: 90%; }
.width-15 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-35 { width: 35%; }
.width-40 { width: 40%; }
.width-45 { width: 45%; }
.width-50 { width: 50%; }
.width-55 { width: 55%; }
.width-60 { width: 60%; }
.width-65 { width: 65%; }
.width-70 { width: 70%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-85 { width: 85%; }
.width-90 { width: 90%; }
.width-95 { width: 95%; }
.width-100 { width: 100%; }
.width-auto { width: auto }
.height-20 { height: 20%; }
.height-25 { height: 25%; }
.height-30 { height: 30%; }
.height-35 { height: 35%; }
.height-40 { height: 40%; }
.height-45 { height: 45%; }
.height-50 { height: 50%; }
.height-55 { height: 55%; }
.height-60 { height: 60%; }
.height-65 { height: 65%; }
.height-70 { height: 70%; }
.height-75 { height: 75%; }
.height-80 { height: 80%; }
.height-85 { height: 85%; }
.height-90 { height: 90%; }
.height-95 { height: 95%; }
.height-100 { height: 100%; }
.min-height { min-height: 100%; }

/* z-index */
.z-index-0 { z-index: 0; }
.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }
.z-index-3 { z-index: 3; }
.z-index-4 { z-index: 4; }
.z-index-5 { z-index: 5; }
.z-index-6 { z-index: 6; }
.z-index-7 { z-index: 7; }
.z-index-8 { z-index: 8; }
.z-index-999 { z-index: 999; }

/* section height  */
.small-screen { height: 450px; }
.one-second-screen { min-height: 600px; }
.one-third-screen { height: 700px; }
.one-fourth-screen { height: 800px; }
.one-fifth-screen { height: 940px; }
.one-sixth-screen { height: 985px; }

/* round image  */
.img-round { width: 250px; border-radius: 50%; overflow: hidden; }
.img-round-250 { border-radius: 50%; height: 250px; width: 250px; overflow: hidden; }
.img-round-70 { border-radius: 50%; height: 70px; width: 70px; overflow: hidden; }
.img-round-80 { border-radius: 50%; height: 80px; width: 80px; overflow: hidden; }
.img-round-90 { border-radius: 50%; height: 90px; width: 90px; overflow: hidden; }
.img-round-100 { border-radius: 50%; height: 100px; width: 100px; overflow: hidden; }
.img-round-110 { border-radius: 50%; height: 110px; width: 110px; overflow: hidden; }
.img-round-120 { border-radius: 50%; height: 120px; width: 120px; overflow: hidden; }
.img100 { width: 100%; }

/* column for equalizer   ***/
.two-column > div:nth-child(2n+1) { clear: both; }
.three-column > div:nth-child(3n+1) { clear: both; }
.four-column > div:nth-child(4n+1) { clear: both; }
.six-column > div:nth-child(6n+1) { clear: both; }

/* list */
.list-line { list-style: none; padding: 0; margin: 0; }
.list-line li { border-bottom: 1px solid rgba(0, 0, 0, .15); padding: 18px 0 }
.list-line li:last-child { border-bottom: none }
.list-line li:first-child { padding-top: 0 }

/* ===================================
    OWL Carousel
====================================== */
.owl-bg-img { display: block; overflow: hidden; position: relative; width: 100%; }
.owl-buttons .owl-prev { position: absolute; top: 50%; margin-top: -18px; left: 70px; font-size: 35px; color: #fff }
.owl-buttons .owl-next { position: absolute; top: 50%; right: 70px; font-size: 35px; color: #fff; margin-top: -18px; }
.owl-pagination { position: absolute; bottom: 35px; text-align: center; width: 100%; }
.owl-pagination .owl-page { display: inline-block }
.owl-dot { padding: 0; border: 0; background-color: transparent; }
.owl-pagination-bottom .owl-dots span { width: 6px; height: 6px; border-radius: 100%; border: 2px solid rgba(255, 255, 255, .5); display: inline-block; margin: 0 10px; }
.owl-pagination-bottom .owl-dots .active span { background-color: #fff; border: 2px solid rgba(255, 255, 255, .8); }
.owl-pagination-bottom .owl-dots {position: absolute;bottom: 25px;text-align: left;}
.owl-pagination-bottom .owl-pagination .active span { background: rgba(255, 255, 255, .8); }
.owl-without-next-pre-arrow .owl-buttons { display: none; }
.owl-pagination-bottom-30px .owl-pagination { bottom: -30px; position: absolute; text-align: center; width: 100%; }

/* hide dot buttons */
.owl-no-buttons .owl-buttons { display: none; }

/* hide dot navigation */
.owl-no-pagination .owl-pagination { display: none }

/* hide next previous arrow */
.owl-without-next-prev-arrow .owl-prev, .owl-without-next-prev-arrow .owl-next { display: none }

/* dark pagination */
.owl-dark-pagination .owl-item { cursor: url("../images/icon/icon-move-black.png"), move; }
.owl-dark-pagination .owl-item.active { /*margin-right: 220px;*/ }
.owl-dark-pagination .owl-dot span { border: 0; background: #7495f8; }
.owl-dark-pagination .owl-dot.active span { background-color: transparent; border: 1px solid rgb(116, 149, 248); width: 14px; height: 14px; top: 4px; position: relative; margin: 0 6px; }
.owl-dark-pagination .owl-prev { border: none; position: absolute; top: 24%; left: 50%; margin-left: 70px; font-size: 26px; color: #fff; background: #6D93FF; border-radius: 50%; padding: 10px; width: 76px; height: 76px; text-align: center; display: none; align-items: center; justify-content: center; }
.owl-dark-pagination .owl-next { border: none; position: absolute; top: 30%; right: 50%; margin-right: -220px; font-size: 26px; color: #fff; background: #6D93FF; border-radius: 50%; padding: 10px; width: 76px; height: 76px; text-align: center; display: flex; align-items: center; justify-content: center; }

/* outside next previous arrow */
.outside-arrow .owl-prev { background: #999999; border-radius: 50%; color: #ffffff; font-size: 24px; height: 50px; padding: 13px; position: absolute; left: -60px; top: 50%; width: 50px; margin-top: -25px }
.outside-arrow .owl-next { background: #999999; border-radius: 50%; color: #ffffff; font-size: 24px; height: 50px; padding: 13px; position: absolute; right: -60px; top: 50%; width: 50px; margin-top: -25px }

/* outside next previous arrow */
.bottom-arrow .owl-prev {position: absolute;top: inherit;bottom: 0;right: 50%;left: inherit;font-size: 26px;margin-left: inherit;margin-right: -100px;color: #FFF;border: 2px solid #6D93FF;border-radius: 50%;padding: 10px;background: #6D93FF;width: 76px;height: 76px;text-align: center;display: flex;align-items: center;justify-content: center;}
.bottom-arrow .owl-next {position: absolute;bottom: 0;right: 50%;left: inherit;top: inherit;margin-right: -180px;font-size: 26px;color: #FFF;border: 2px solid #6D93FF;border-radius: 50%;background: #6D93FF;padding: 10px;width: 76px;height: 76px;text-align: center;display: flex;align-items: center;justify-content: center;}
.bottom-arrow .owl-next:hover, .bottom-arrow .owl-prev:hover { background-color: transparent; color: #6D93FF; }

/* outside next previous arrow simple */
.outside-arrow-simple .owl-prev { color: #282828; font-size: 24px; height: 50px; padding: 13px; position: absolute; left: -60px; top: 50%; width: 50px; margin-top: -25px }
.outside-arrow-simple .owl-next { color: #282828; font-size: 24px; height: 50px; padding: 13px; position: absolute; right: -60px; top: 50%; width: 50px; margin-top: -25px }

/* ===================================
    Button
====================================== */
.btn { display: inline-block; border-radius: 4px !important; width: auto; font-family: 'GraphikSemibold', sans-serif; white-space: inherit; cursor: pointer; }
.btn p { margin-bottom: 0 }
.btn:hover { opacity: 0.7 }
.btn-dual .btn { margin: 0 20px 0 0 }
.btn-dual .btn:last-child { margin: 0 }
.btn-round { border-radius: 4px !important }
.btn-circle { border-radius: 50px !important }
.btn-circle.btn-large.icon {border-radius: 50px !important;width: 76px;height: 76px;padding: 10px;font-size: 26px;text-align: center;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.btn i { margin-left: 7px; vertical-align: baseline; margin-top: 1px; }
.btn-small-white:focus { color: #fff }
.button { margin-top: 0; margin-bottom: 0 }
.btn.btn-extra-large2 { font-size: 16px; padding: 18px 30px; line-height: 20px; }
.btn.btn-extra-large { font-size: 14px; padding: 14px 28px; line-height: 18px; }
.btn.btn-large { font-size: 13px; padding: 11px 25px; line-height: 18px; }
.btn.btn-medium { font-size: 12px; padding: 8px 20px; line-height: 18px; }
.btn.btn-small { font-size: 11px; padding: 4px 14px; line-height: 18px; }
.btn.btn-very-small { font-size: 10px; padding: 10px 12px 10px; line-height: 0; }
.btn-squared{ border-radius: 0!important; }
.btn-circle.btn-extra-large { font-size: 16px; padding: 20px 42px; line-height: 18px; }
.btn-circle.btn-large {font-size: 13px;padding: 28px 30px;line-height: 13px;}
.btn-circle.btn-medium {font-size: 13px !important;padding: 28px 40px;line-height: 13px;}
.btn-circle.btn-small { font-size: 10px; padding: 5px 22px; line-height: 18px; }
.btn-circle.btn-very-small { font-size: 10px; padding: 10px 12px 10px; line-height: 0; }
.btn.btn-border { border: 2px solid; background-color: rgba(0, 0, 0, 0); }
.btn-3d { border-bottom: 3px solid rgba(0, 0, 0, 0.2); }
.btn-shadow { box-shadow: 0 0 6px rgba(0, 0, 0, .3); }
.box-shadow-light { box-shadow: 0 0 3px rgba(0, 0, 0, .1); }
.box-shadow { box-shadow: 0 0 3px rgba(0, 0, 0, .2); }
.box-shadow-dark { box-shadow: 0 0 4px rgba(0, 0, 0, .4); }
.highlight-button-black { background-color: transparent; border: 2px solid #000; color: #000; display: inline-block; font-size: 12px; padding: 8px 20px 9px; }
.highlight-button-black-border { background-color: transparent; border: 2px solid #000; color: #000; font-size: 22px; font-weight: 600; padding: 20px 30px; }
.highlight-button-white-border { background-color: transparent; border: 2px solid #fff; color: #fff; font-size: 22px; font-weight: 600; padding: 20px 30px; }

/* buttons hover */
.button-black-hover:hover { border: 1px solid #000; color: #000; }
.button-white-hover:hover { border: 1px solid #fff; color: #fff; }
.highlight-button-black:hover { background-color: #000; border: 2px solid #000; color: #fff; }
.highlight-button-black-border { background-color: transparent; border: 2px solid #000; color: #000; font-size: 22px; padding: 20px 30px; }
.highlight-button-black-border:hover { background-color: #000; border: 2px solid #000; color: #fff; }
.highlight-button-white-border { background-color: transparent; border: 2px solid #fff; color: #fff; font-size: 22px; padding: 20px 30px; }
.highlight-button-white-border:hover { background-color: transparent; border: 2px solid #fff; color: #fff; }
.highlight-button-bitter-sweet-border { background-color: rgba(0, 0, 0, 0); border: 5px solid #f3605c; color: #ffffff; font-size: 18px; padding: 4px 17px; font-weight: 500; }
.highlight-button-bitter-sweet-border:hover { background-color: #000; border: 5px solid #000; color: #fff; }
.highlight-button-white-border-wide { background-color: rgba(0, 0, 0, 0); border: 3px solid #ffffff; color: #ffffff; font-size: 16px; padding: 8px 30px; font-weight: 500; }
.highlight-button-white-border-wide:hover { border: 3px solid #f3605c; color: #fff; }
.highlight-button-dark-slate-blue-border-wide { background-color: rgba(0, 0, 0, 0); border: 5px solid #55365e; color: #f3605c; font-weight: 400; font-size: 18px; padding: 4px 17px; }
.highlight-button-dark-slate-blue-border-wide:hover { background-color: #55365e; border: 5px solid #55365e; color: #fff; }
.cursor-pointer{ cursor:pointer; }
/* scroll down */
.scroll-down { bottom: 50px; position: absolute; text-align: center; width: 100%; z-index: 9; }
.scroll-down a i { border: 2px solid #fff; border-radius: 100%; color: #fff; font-size: 25px; padding: 4px 0 0 1px; width: 38px; height: 38px; }

/* ===================================
    Form Control
====================================== */
.extra-big-input, .extra-big-textarea, .extra-big-select select { padding: 18px 25px; border: 1px solid rgba(0, 0, 0, .1); font-size: 14px }
.big-input, .big-textarea, .big-select select { padding: 18px 25px; border: 1px solid rgba(0, 0, 0, .1); font-size: 14px }
.big-input:focus, .big-select:focus { border: 1px solid rgba(0, 0, 0, .5); }
.big-label { font-size: 14px; letter-spacing: 2px; }
.medium-input, .medium-textarea, .medium-select select { padding: 12px 20px; border: 1px solid rgba(0, 0, 0, .1); font-size: 14px; line-height: normal }
.medium-input:focus, .medium-select:focus { border: 1px solid rgba(0, 0, 0, .5); }
.small-input, .small-textarea { padding: 12px 15px; border: 1px solid rgba(0, 0, 0, .1); font-size: 11px; line-height: normal }
.small-input:focus, .small-select:focus { border: 1px solid rgba(0, 0, 0, .5); }
.small-select select { padding: 15px 15px; line-hheight: normal }
.medium-input-light, .medium-textarea-light, .medium-select-light select { padding: 12px 25px; border: 1px solid rgba(255, 255, 255, .1); font-size: 12px; background: rgba(255, 255, 255, .1); line-height: normal }
.medium-input-light:focus, .medium-select-light:focus { border: 1px solid rgba(255, 255, 255, .4); }

/* 23-feb-2016 */
.extra-small-input, .extra-small-textarea, .extra-small-select select { padding: 9px 17px; border: 1px solid rgba(0, 0, 0, .1); font-size: 12px; text-transform: uppercase; line-height: normal }
.extra-small-input:focus, .extra-small-select:focus { border: 1px solid rgba(0, 0, 0, 0.5); }
.tz_input_error { border: 1px solid #dd1c1c }
.input-group input, .input-group textarea, .input-group select { margin: 0; border-radius: 4px 0 0 4px; border-color: #fff; padding: 19px 25px; }
.input-group-btn .btn { border-radius: 0 4px 4px 0 }
.input-group-btn .btn.btn-large { line-height: 2px; height: 62px; padding: 15px 25px !important }
.input-group input.tz_input_error, .input-group textarea.tz_input_error, .input-group select.tz_input_error { border-color: #dd1c1c; }
#success { clear: both; margin: 0 15px 20px; text-align: center; background-color: #6dc13a; border: 2px solid #6dc13a; color: #fff; padding: 10px 0; display: block; }
#error { clear: both; margin: 0 15px 20px; text-align: center; background-color: #ec2313; border: 2px solid #ec2313; color: #fff; padding: 10px 0; display: block; }
.g-recaptcha { margin: 0 0 20px 0 }
.google-recaptcha-error { color: #ec2313; display: block; margin: 0 0 25px 0 }

/* ===================================
    Portfolio and Photo Gallery
====================================== */
.grid li { transition-duration: 0s; }
.grid img { width: 100%; }
.grid-gallery { clear: both; float: left; width: 100%; }
.gallery-img a { display: block; position: relative; z-index: 2; }
.grid-gallery ul { list-style: outside none none; padding: 0; }
.grid-gallery figure { margin: 0; position: relative; overflow: hidden }
.grid-gallery figure img { cursor: pointer; display: block; opacity: 1; width: 100%; }
.grid { margin: 0 auto; }
.grid li { box-sizing: border-box; display: inline-table; float: left; margin: 0; width: 25%; }
.grid-gallery ul { margin-left: 1px; }
.grid figure { transition: opacity 0.2s ease 0s; }
.grid figcaption { bottom: 70px; opacity: 0; position: absolute; text-align: center; transition: all 0.3s ease 0s; width: 100%; }
.gallery-img { opacity: 1; overflow: hidden; transition: all 0.3s ease 0s; }
.grid figure:hover .gallery-img { background-color: #000; }
.no-hover figure:hover .gallery-img { background-color: transparent; }
.no-hover figure:hover img { opacity: 1; transform: none; }
figure:hover img { cursor: url("../images/icon/icon-zoom-white.png"), pointer; opacity: 0.15; transform: scale(1.1, 1.1); transition: all 0.3s ease 0s; }
.mfp-figure figure:hover img { cursor: pointer; }
.grid figure:hover figcaption { opacity: 1; transition: all 0.3s ease 0s; }
.revolution-masonry-portfolio-list .portfolio-item { padding: 10px; }

/* portfolio grid - 2 column  */
.work-2col .grid li { float: left; width: 50%; }

/* portfolio grid - 3 column  */
.work-3col .grid li { float: left; width: 33.33%; }

/* portfolio grid - 4 column  */
.work-4col .grid li { float: left; width: 25%; }

/* portfolio grid - 5 column  */
.work-5col .grid li { float: left; width: 20%; }

/* portfolio grid - gutter */
.gutter .grid-gallery ul { margin-left: -14px; }
.gutter .grid li { padding: 0 0 14px 14px; }

/* portfolio with title */
.work-with-title .grid figcaption { background: rgba(19, 19, 19, .95); bottom: -25px; opacity: 1; display: block; padding: 25px 0; position: absolute; z-index: 2; }
.work-with-title .grid figure:hover figcaption { bottom: 0 }
.work-with-title .grid figcaption p { opacity: 0; transform: translateY(13px); transition-property: transform, opacity; margin: 0 }
.work-with-title .grid figure:hover figcaption, .work-with-title .grid figure:hover p { opacity: 1; display: block; }
.work-with-title .grid figure:hover p { transform: translateY(0); transition-property: transform, opacity; }
.work-with-title figure:hover img { cursor: pointer; opacity: 1; transform: scale(1.1, 1.1); }

/* portfolio with title light */
.work-with-title-light .grid figcaption { background: rgba(255, 255, 255, 1); bottom: 0; opacity: 1; display: block; padding: 25px 0; position: absolute; z-index: 2; }
.work-with-title-light .grid figcaption p { margin: 0 }
.work-with-title-light .grid figure:hover figcaption { background: rgba(0, 0, 0, .95); }
.work-with-title-light .grid figure:hover figcaption .text-dark-gray { color: #fff }
.work-with-title-light .grid figure:hover figcaption, .work-with-title-light .grid figure:hover p { opacity: 1; display: block; }
.work-with-title-light figure:hover img { cursor: pointer; opacity: 1; transform: scale(1.1, 1.1); }

/* ===================================
    Video and Sound
====================================== */
.video-wrapper { height: 100%; overflow: hidden; position: absolute; width: 100%; top: 0; }
.html-video { background-color: #000; height: auto; left: 50%; min-height: 100%; min-width: 100%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: auto; z-index: -3; }
.sound iframe { width: 100%; }
.video-background { position: relative; height: 100%; width: 100%; z-index: 1; top: 0; background: rgba(67, 67, 67, 0.5); }



/*! jQuery UI - v1.12.1 - 2016-09-14
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, draggable.css, resizable.css, progressbar.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=ffffff&bgTextureHeader=fine_grain&bgImgOpacityHeader=15&borderColorHeader=d4d1bf&fcHeader=453821&iconColorHeader=b83400&bgColorContent=eceadf&bgTextureContent=fine_grain&bgImgOpacityContent=10&borderColorContent=d9d6c4&fcContent=1f1f1f&iconColorContent=444444&bgColorDefault=f8f7f6&bgTextureDefault=fine_grain&bgImgOpacityDefault=10&borderColorDefault=cbc7bd&fcDefault=654b24&iconColorDefault=b83400&bgColorHover=654b24&bgTextureHover=fine_grain&bgImgOpacityHover=65&borderColorHover=654b24&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=eceadf&bgTextureActive=fine_grain&bgImgOpacityActive=15&borderColorActive=d9d6c4&fcActive=140f06&iconColorActive=8c291d&bgColorHighlight=f7f3de&bgTextureHighlight=fine_grain&bgImgOpacityHighlight=15&borderColorHighlight=b2a266&fcHighlight=3a3427&iconColorHighlight=3572ac&bgColorError=b83400&bgTextureError=fine_grain&bgImgOpacityError=68&borderColorError=681818&fcError=ffffff&iconColorError=fbdb93&bgColorOverlay=6e4f1c&bgTextureOverlay=diagonal_maze&bgImgOpacityOverlay=20&opacityOverlay=60&bgColorShadow=000000&bgTextureShadow=diagonal_maze&bgImgOpacityShadow=40&opacityShadow=60&thicknessShadow=5px&offsetTopShadow=0&offsetLeftShadow=-10px&cornerRadiusShadow=18px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
/* jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}

/* jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #6D93FF none;
    color: white;
    /* border: 0; */
}
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); /* support: IE8 */ }
.ui-front { z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {cursor: default !important;pointer-events: none;opacity: .3;background: #d6d6d6;pointer-events: none;}

/* Icons
----------------------------------*/
.ui-icon {display: inline-block;vertical-align: middle;margin-top: -.25em;position: relative;text-indent: -99999px;overflow: hidden;background-repeat: no-repeat;width: 100%;text-align: center;}
.ui-widget-icon-block { left: 50%; margin-left: -8px; display: block; }

/* Misc visuals
----------------------------------*/

/* Spinner specific style fixes */
.ui-controlgroup-vertical .ui-spinner-input {    /* Support: IE8 only, Android < 4.4 only */
width: 75%; width: calc(100% - 2.4em); }
.ui-controlgroup-vertical .ui-spinner .ui-spinner-up { border-top-style: solid; }
.ui-checkboxradio-label .ui-icon-background { box-shadow: inset 1px 1px 1px #ccc; border-radius: .12em; border: none; }
.ui-checkboxradio-radio-label .ui-icon-background { width: 16px; height: 16px; border-radius: 1em; overflow: visible; border: none; }
.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon { background-image: none; width: 8px; height: 8px; border-width: 4px; border-style: solid; }
.ui-checkboxradio-disabled { pointer-events: none; }
.ui-datepicker {/* width: 17em; */padding: 10px 20px;display: none;}
.ui-datepicker .ui-datepicker-header {position: relative;padding: 10px 0;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute;top: 9px;width: 1.8em;height: 1.8em;background: #7495f8;}

.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {color: #FFF;}
.ui-datepicker .ui-datepicker-prev span{      background-position: -93px -15px;}
.ui-datepicker .ui-datepicker-next span{      background-position: -29px -15px;}
.ui-datepicker .ui-datepicker-title {margin: 0 2.3em;line-height: 1.8em;text-align: center;color: #7495f8;font-weight: 600;}
.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 45%; }
.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 .4em; }
.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;color: #A3A3A3;}
.ui-datepicker td {border: 0;padding: 0;/* width: 90px; *//* height: 60px; */margin: 0;}
.ui-datepicker td span, .ui-datepicker td a {display: block;padding: 10px;text-align: right;text-decoration: none;height: 53px;font-size: 11px;}
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding: 0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto; }
.ui-datepicker-multi .ui-datepicker-group { float: left; }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }
.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group { float: right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button,/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border-top: .1px solid #F3F3F3;font-weight: bold;color: #5F5858;border-right: .1px solid #F3F3F3;text-decoration: none!important;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button { color: #654b24; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {/* border: 1px solid #7495f8; */background: #7495f8;font-weight: bold;color: #ffffff!important;}

.ui-visual-focus { box-shadow: 0 0 3px 1px rgb(94, 158, 214); }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {/* border: 0; *//* background: #eceadf url("images/ui-bg_fine-grain_15_eceadf_60x60.png.html") 50% 50% repeat; */font-weight: bold;/* color: #140f06; */}
.ui-icon-background, .ui-state-active .ui-icon-background { border: #d9d6c4; background-color: #140f06; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #140f06; text-decoration: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #6e4f1c url("images/ui-bg_diagonal-maze_20_6e4f1c_10x10.png.html") 50% 50% repeat; opacity: .6; filter: Alpha(Opacity=60); /* support: IE8 */ }
.ui-widget-shadow { -webkit-box-shadow: -10px 0 5px #000000; box-shadow: -10px 0 5px #000000; }
.ui-icon { width: 16px; height: 16px; }
.ui-icon, .ui-widget-content .ui-icon { background-image: url("../images/ui-icons_444444_256x240.png"); }
.ui-widget-header .ui-icon { background-image: url("../images/ui-icons_444444_256x240.png"); }

.ui-state-active .ui-icon, .ui-button:active .ui-icon { background-image: url("images/ui-icons_8c291d_256x240.png.html"); }
.ui-state-highlight .ui-icon, .ui-button .ui-state-highlight.ui-icon { background-image: url("images/ui-icons_3572ac_256x240.png.html"); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url("images/ui-icons_fbdb93_256x240.png.html"); }
.ui-button .ui-icon { background-image: url("images/ui-icons_b83400_256x240.png.html"); 