.fakeh { height: 115px; }
.navbar-nav .bg-light-orange:hover { background: #ed5961; }
.navbar-toggle .icon-bar { background: #6D93FF; }
.navbar-collapse { box-shadow: none; background: #6D93FF; width: 100%; position: absolute; top: 90px; height: 100%; }
.navbar-toggle { margin: 13px 0 0 32px; }
.header .navbar-collapse { top: 0; position: fixed; height: 100% !important; visibility: hidden; opacity: 0; }
.navbar-full, .navbar-overlay { position: fixed; top: 0; left: 0; right: 0; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out }
.navbar-full .nav-table { padding: 105px 0 70px; }
.header .navbar-collapse.in { opacity: 1; visibility: visible; }
.navbar-full { padding: 0; overflow: hidden;/* background: #FFF; */ z-index: 1001; }
.navbar-full .nano { display: table-cell; height: 100%; overflow-y: auto }
.navbar-full .nav { position: absolute; padding: 0; overflow: hidden; right: 0; }
.navbar-full.navbar .nav li:nth-child(1) a { color: #03c167 }
.navbar-full.navbar .nav li:nth-child(2) a { color: #03c167 }
.header .navbar.shrink .navbar-collapse { top: 64px; }
.navbar-full .expand .right-arrow { display: none; }
.navbar-full .expand, .navbar-full .expand a { pointer-events: none; }
.nav-up { top: -40px; }
@media (max-width:1100px) {
	.navbar-nav { padding-left: 25px; }
	.navbar-toggle { margin: 13px 0 0 22px; }
}
@media (max-width:400px) {
	.navbar-full .nav>li>a { font-size: 1.3rem }
}
@media (max-width:550px) {
	.navbar-full .nav>li>a { padding-left: 40px; padding-right: 40px }
}
.navbar-full .nav>li>a:before { left: 45px; top: 2px }
.navbar-full .nav>li>a:after { right: 45px; bottom: 2px }
.navbar-full .nav>li>a:after, .navbar-full .nav>li>a:before { content: none }
.navbar-full ul { list-style: none; padding: 0; margin: 0; color: #FFF; }
.navbar-full ul.links-inline li a, .navbar-full .social-icon a { margin: 0 10px; display: inline-block; }
.navbar-full ul.links-inline li { display: inline-block; }
.navbar-full ul.links li a { margin: 5px 0; display: inline-block; }
.navbar-full ul.links li { white-space: pre-line; padding: 5px 0px; border-bottom: none; margin: 0; }
.navbar-full .newsletter button { padding: 0 !important; position: absolute; right: 15px; top: 24px; outline: none; background: transparent; }
.navbar-full .newsletter button.btn { padding: 8px 15px !important; }
.navbar-full .social-icon a i { height: 40px; width: 40px; border-radius: 50%; vertical-align: middle; text-align: center; }
.navbar-full .social-icon a:last-child { margin-right: 0; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-transition: background-color 5000s ease-in-out 0s; -moz-transition: background-color 5000s ease-in-out 0s; transition: background-color 5000s ease-in-out 0s; }
section.newsletter-footer { background: url('../images/ilus-news-footer.png') no-repeat center; }
section.hero .btn-circle.btn-medium { min-width: 240px; }
section.hero .home-block-right { background-image: url('../images/hero-home.jpg'); }
section.vc-escolhe { background: url('../images/razoes_para_trabalhar_home_destaque.jpg') center no-repeat; }
section.confianca-seguranca { background-image: url('../images/bg-block3-home.jpg'); }
section.ajuda { background: url('../images/bg-block5-confiar.jpg') center no-repeat; }
section.razoes { background-image: url('../images/bg-block1-razoes.jpg'); }
section.razoes.veja-como { background: url('../images/bg-block2-confiar.jpg') no-repeat center center; }
section.razoes-servicos #tab_sec1 { background: url('../images/bg-tab1-razoes.jpg') center; }
section.razoes-servicos #tab_sec2 { background: url('../images/bg-tab2-razoes.jpg') center; }
section.razoes-servicos #tab_sec3 { background: url('../images/bg-tab3-razoes.jpg') center; }
section.razoes-servicos #tab_sec4 { background: url('../images/bg-tab4-razoes.jpg') center; }
section.razoes-cuidador { background-image: url('../images/bg-block1-razoescuidador.jpg'); }
section.razoes.como-funciona { background: url('../images/razoes_para_trabalhar.jpg') no-repeat center center; }
section.confianca-cliente { background: url('../images/bg-block1-confianca.jpg'); }
section.razoes.confianca-cliente { background: url('../images/confianca.jpg') no-repeat center center; }
section.confianca-cuidador { background: url('../images/bg-block1-confianca.jpg'); }
section .three-icons { margin-top: -85px; position: relative; }
section .three-icons.cuidador { margin-top: -120px; }
section.confianca-cliente-sc2 .three-icons { margin-top: -120px; position: relative; }
.formee { position: relative; text-align: left; }
.formee .mail { position: relative; background-color: #F9F9F9; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
.formee .input-effect { position: relative; }
.formee input { padding: 0 100px 0 20px; font-size: 13px; border: 0; outline: none; font-family: 'GraphikSemibold'; margin: 0; }
.formee input[type='email'], .formee input[type='text'] { background: transparent; border: 0; border-bottom: 3px solid #d8d8d8; -moz-border-radius: 0; border-radius: 0; font-size: 16px; color: #AAAAAA !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; height: 55px; padding: 0px 0; width: 100%; }
#email-error { font-size: 14px; color: #FF0000; font-family: 'GraphikRegular'; display: block; margin: 20px 0 0 0; }
#mc-notification { color: #AFAFAF; font-family: 'GraphikRegular'; margin-top: 25px; font-size: 14px; display: block; }
#mc-notification.error { color: #FF0F0F; }
#mc-notification.success { color: #6D93FF !important; font-family: 'GraphikSemibold'; }
.bar-t { background: #6D93FF; width: 26px; height: 450px; position: absolute; right: 0; top: 250px; }
.bar-t.razoes { top: 110px; }
.navbar-nav.nav-right li .btn-medium { padding: 28px 40px; }
.effect-hover, .effect-17, .effect-18 { border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent; }
.effect-hover ~ .focus-border { position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #6D93FF; -webkit-transition: 0.4s; -moz-transition: 0.4s; transition: 0.4s; }
footer .effect-hover ~ .focus-border { position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #FFF; -webkit-transition: 0.4s; -moz-transition: 0.4s; transition: 0.4s; }
.effect-hover:focus ~ .focus-border, .has-content.effect-hover ~ .focus-border { width: 100%; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; }
.effect-hover ~ label { position: absolute; left: 0; width: 100%; top: 15px; color: #5F5858; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; font-family: 'GraphikSemibold'; font-size: 17px; pointer-events: none; font-weight: inherit; }
.effect-hover:focus ~ label, .has-content.effect-hover ~ label { top: -15px; font-size: 14px; color: #6D93FF; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; font-family: 'GraphikSemibold'; letter-spacing: 0; }
footer .effect-hover ~ label { color: #94AEFA; }
#fluxo__form { display: none; }
.form-round { max-width: 1000px; margin: 0 auto }

/*.form-round .effect-hover ~ label {color: #5F5858;}*/
.form-round input { padding: 0 100px 0 20px; font-size: 13px; border: 0; outline: none; font-family: 'GraphikRegular'; margin: 0; opacity: 0; }
.form-round input:focus { opacity: 1 }
.form-round input[type='email'], .form-round input[type='text'], .form-round input[type='password'], .form-round input[type='tel'] { background: transparent; border: 0; border-bottom: none; font-size: 17px; color: #5F5858 !important; height: 45px; padding: 23px 0 0; width: 100%; }
.form-round label { font-family: 'GraphikRegular' !important; padding: 14px 27px; margin: 0; background: transparent; border-radius: 10px; }
.form-round .input-effect { border: 1px solid #C6C6C6; -moz-border-radius: 6px; border-radius: 6px; padding: 16px 27px; }
.form-round .effect-hover:focus ~ .focus-border, .form-round .has-content.effect-hover ~ .focus-border { opacity: 1; border: 0; width: inherit; }
.form-round .has-content { opacity: 1; }
.form-round .input-effect:hover { border: 1px solid #6D93FF; }
.form-round .effect-hover:focus ~ label, .form-round .has-content.effect-hover ~ label { top: 0px; }
.form-round input[type='email'].valid, .form-round input[type='text'].valid, .form-round input[type='password'].valid, .form-round input[type='tel'].valid { background: transparent url("../images/checked.png") no-repeat right center !important; }
.form-round input[type='text'].visa { }
.form-round label.error { color: #FF0F0F; font-size: 11px; font-weight: 100; padding: 13px 0 0 28px; line-height: 100%;/* display: block; */ }
.form-round .input-effect.p-error, .input-effect.p-error label { border-color: #FF0F0F; color: #FF0F0F; }
.form-round .input-effect.p-error select { color: #FF0F0F; }
.form-round .input-effect span.optional {/* z-index: 9; */position: absolute; right: 20px; display: block; color: #AFAFAF; top: 15px; font-size: 14px; pointer-events: none; }
.form-round .input-effect select { background: transparent; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; font-family: 'GraphikRegular' !important; margin: 6px 0; font-size: 17px; }
.form-round .input-effect select:focus { border-color: none; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.form-round .input-effect select.form-control:not([multiple]) { -webkit-appearance: none; -moz-appearance: none; background-position: right 50%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAAHXQOfKAAAABGdBTUEAALGPC/xhBQAAARBJREFUKBV9krFuwkAMhn8HhICBgQGxwcTSpWNX1LUzsJcNEok3YGGulKQbLEyFd6h4BRaWTu1W9QVgiGTsI3e6IDWRLv79/fbFuguFCX8AGMsCwpQzEsImsy8yVk4bTbTuS3aBUluehDQxWnezsLCHhTZKBwWaqAAhtoZqwxzIxXLPNV0+v5/K9xBUKngpkDxRfhsu5W8weq6I8JPMqW9Mhf652KHM1GoGhCc/qi48UcpbH9Bize3sgpN8s+sbpZrwW63jwc0UJbyWy3otbRJTGjZxSFOtc82aRO88lOv+lCkKXD0hLPfxHM/oYHKDrMrjYs+N7A9H2WDgLMJXtYPHtxGdHSsT8qes9Hg1/ld3BVj4V7IbIHkkAAAAAElFTkSuQmCC); padding: 0; }
.form-round a.clone_field { display: block; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAEFVwZaAAAABGdBTUEAALGPC/xhBQAAANVJREFUOBHtUrsVwjAMtHi0lDxoWIK9wjJhK8aggUcHAxidHRlF1jOGioIU0Ul3+lh2CPwNYzzB0gT2jG8IgLkkID9I5hFhZtpFiXpA+oHTyp2IdZc1BzHMWcgPGkkKhvYG181F61rZTJmQVRgMX95Uxq8hs5836LVeikDZOluRBR6O8V6cCVQHiTGs3oqsAH5VyRPp+xF+w+AqDmxXJZ2QMO8q2mBXpe9EROFh25ENWH+6z3TicaCt5bXfNZZOaOHfLUZ4ld6jax3H43Ah/wvwNtOOPQG1pEhBDBG7rQAAAABJRU5ErkJggg==) no-repeat right+27px center; font-size: 17px; padding: 13px 27px; text-align: left; }
.form-round .form-group .checkbox label:not(.error) { font-size: 17px; padding: 5px 0; }
.form-round .form-group .radio label:not(.error) { font-size: 17px; padding: 5px 0; }
.form-round .form-group a { color: #6D93FF; }
.form-round .form-group a:not(.btn):hover { text-decoration: underline; }
.form-round .form-group a.delete-field { display: inline-block; text-indent: -99999px; background: #ed7072; width: 17px; height: 3px; position: absolute; right: -35px; top: 38px; }
#c_cardnumber { background-image: url('../images/cards.png') !important; background-position: right 10px; background-size: 40px 252px !important; background-repeat: no-repeat; }
.form-steps { max-width: 1000px; margin: 0 auto }
.form-steps .effect-hover ~ label { color: #5F5858; }
.form-steps input { padding: 0 100px 0 20px; font-size: 13px; border: 0; outline: none; font-family: 'GraphikRegular'; margin: 0; opacity: 0; }
.form-steps input:focus { opacity: 1 }
.form-steps input[type='email'], .form-steps input[type='text'], .form-steps input[type='password'], .form-steps input[type='tel'] { background: transparent; border: 0; border-bottom: none; font-size: 17px; color: #797979 !important; height: 45px; width: 100%; font-family: 'GraphikSemibold'; }
.form-steps label { font-family: 'GraphikRegular' !important; padding: 13px 27px; margin: 0; }
.form-steps .input-effect { -moz-border-radius: 6px; border-radius: 6px; padding: 16px 27px; background: #FFF; -webkit-box-shadow: 1px 2px #EFEEEE; -moz-box-shadow: 1px 2px #EFEEEE; box-shadow: 1px 2px #EFEEEE; }
.form-steps .effect-hover:focus ~ .focus-border, .form-steps .has-content.effect-hover ~ .focus-border { opacity: 1; border: 0; width: inherit; }
.form-steps .has-content { opacity: 1; }
.form-steps .input-effect:hover {/* border: 1px solid #6D93FF; */ }
.form-steps .effect-hover:focus ~ label, .form-steps .has-content.effect-hover ~ label { top: 0px; }
.form-steps input[type='email'].effect-hover.valid, .form-steps input[type='text'].effect-hover.valid, .form-steps input[type='password'].effect-hover.valid, .form-steps input[type='tel'].effect-hover.valid { background: transparent url("../images/checked.png") no-repeat right center !important; }
.form-steps label.error { color: #FF0F0F; font-size: 12px; font-weight: 100; padding: 10px 30px 0; line-height: 18px; }
.form-steps .input-effect.p-error, .input-effect.p-error label { border-color: #FF0F0F; color: #FF0F0F; }
.form-steps .input-effect select { background: transparent; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; font-family: 'GraphikRegular' !important; margin: 6px 0; font-size: 17px; }
.form-steps .input-effect select:focus { border-color: none; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.form-steps .input-effect select.form-control:not([multiple]) { -webkit-appearance: none; -moz-appearance: none; background-position: right 50%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAAHXQOfKAAAABGdBTUEAALGPC/xhBQAAARBJREFUKBV9krFuwkAMhn8HhICBgQGxwcTSpWNX1LUzsJcNEok3YGGulKQbLEyFd6h4BRaWTu1W9QVgiGTsI3e6IDWRLv79/fbFuguFCX8AGMsCwpQzEsImsy8yVk4bTbTuS3aBUluehDQxWnezsLCHhTZKBwWaqAAhtoZqwxzIxXLPNV0+v5/K9xBUKngpkDxRfhsu5W8weq6I8JPMqW9Mhf652KHM1GoGhCc/qi48UcpbH9Bize3sgpN8s+sbpZrwW63jwc0UJbyWy3otbRJTGjZxSFOtc82aRO88lOv+lCkKXD0hLPfxHM/oYHKDrMrjYs+N7A9H2WDgLMJXtYPHtxGdHSsT8qes9Hg1/ld3BVj4V7IbIHkkAAAAAElFTkSuQmCC); padding: 0; }
.form-steps a.clone_field { display: block; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAEFVwZaAAAABGdBTUEAALGPC/xhBQAAANVJREFUOBHtUrsVwjAMtHi0lDxoWIK9wjJhK8aggUcHAxidHRlF1jOGioIU0Ul3+lh2CPwNYzzB0gT2jG8IgLkkID9I5hFhZtpFiXpA+oHTyp2IdZc1BzHMWcgPGkkKhvYG181F61rZTJmQVRgMX95Uxq8hs5836LVeikDZOluRBR6O8V6cCVQHiTGs3oqsAH5VyRPp+xF+w+AqDmxXJZ2QMO8q2mBXpe9EROFh25ENWH+6z3TicaCt5bXfNZZOaOHfLUZ4ld6jax3H43Ah/wvwNtOOPQG1pEhBDBG7rQAAAABJRU5ErkJggg==) no-repeat right+27px center; font-size: 17px; padding: 13px 27px; }
.confiar_slide { }
.confiar_slide .owl-item { }
.confiar_slide .owl-pagination { bottom: -80%; }
.confiar_slide .owl-buttons .owl-next { bottom: -92%; left: inherit; right: 90px; }
.confiar_slide .owl-buttons .owl-prev { bottom: -92%; left: inherit; right: 180px; margin-left: inherit; }
section.banbo .btn-circle { position: absolute; top: 50%; left: 50%; margin: -120px 0 0 -80px; border: 1px solid #FFF; width: 163px; height: 163px; -moz-border-radius: 190px !important; border-radius: 190px !important; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; font-size: 22px; }
.price-options a.incluso-price { position: absolute; top: 12%; width: 110px; font-size: 13px; line-height: 150%; margin-left: 21px; }
.white-popup-block { background: #FFF; padding: 60px 90px; text-align: left; max-width: 1170px; margin: 40px auto; position: relative; cursor: default; border-radius: 3px; }
.white-popup-block.pop-cel-confirmation { width: 480px; padding: 40px 50px; }
.white-popup-block a.navbar-full-toggle {position: absolute;right: 40px;top: 40px;}

/*
    Common
*/
.wizard { display: block; width: 100%; }
.tabcontrol { display: block; width: 100%; overflow: hidden; }
.wizard a, .tabcontrol a { outline: 0; }
.wizard ul, .tabcontrol ul { list-style: none !important; padding: 0; margin: 0; }
.wizard ul > li, .tabcontrol ul > li { display: block; padding: 0; }

/* Accessibility */
.wizard > .steps .current-info, .tabcontrol > .steps .current-info { position: absolute; left: -999em; }
.wizard > .content > .title, .tabcontrol > .content > .title { position: absolute; left: -999em; }

/*
    Wizard
*/
.wizard > .steps { position: relative; display: block; display: none; width: 100%; }
.wizard.vertical > .steps { display: inline; float: left; width: 30%; }
.wizard > .steps .number { font-size: 1.429em; }
.wizard > .steps > ul > li { width: 25%; }
.wizard > .steps > ul > li, .wizard > .actions > ul > li { float: left; }
.wizard.vertical > .steps > ul > li { float: none; width: 100%; }
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active { display: block; width: auto; margin: 0 0.5em 0.5em; padding: 1em 1em; text-decoration: none; -moz-border-radius: 5px; border-radius: 5px; }
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active { background: #eee; color: #aaa; cursor: default; }
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active { background: #2184be; color: #fff; cursor: default; }
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active { background: #9dc8e2; color: #fff; }
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active { background: #ff3111; color: #fff; }
.wizard > .actions > ul li:first-child a { background: transparent; color: #6D93FF; }
.wizard > .content { display: block; position: relative; width: auto; -moz-border-radius: 5px; border-radius: 5px; }
.wizard.vertical > .content { display: inline; float: left; margin: 0 2.5% 0.5em 2.5%; width: 65%; }
.wizard > .content > .body { float: left; width: 100%; }
.wizard > .content > .body ul > li { display: list-item; }
.wizard > .content > .body > iframe { border: 0 none; width: 100%; height: 100%; }
.wizard > .content > .body input[type="checkbox"] { display: inline-block; }
.wizard > .content > .body input.error { background: rgb(251, 227, 228); border: 1px solid #fbc2c4; color: #8a1f11; }
.wizard > .content > .body label { margin: 0; }
.wizard > .content > .body label.error { display: inline-block; }
.wizard > .actions { position: relative; display: block; text-align: center; width: 100%; margin-top: 40px; }
.wizard.vertical > .actions { display: inline; float: right; margin: 0 2.5%; width: 95%; }
.wizard > .actions > ul { display: inline-block; text-align: right; }
.wizard > .actions > ul > li { margin: 0 0.5em; }
.wizard.vertical > .actions > ul > li { margin: 0 0 0 1em; }
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active { text-decoration: none; font-size: 26px; color: #FFF; border: 2px solid #6D93FF; -moz-border-radius: 50%; border-radius: 50%; background: #6D93FF; padding: 10px; width: 76px; height: 76px; text-align: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active { background: #eee; color: #5997f9; }
.form-steps .pag-c-spinner { display: flex; align-items: center; }
.form-steps .pag-c-spinner input { top: -9px; position: relative; height: 32px; font-size: 21px; color: #6D93FF !important; }
.form-steps .pagination-spinner { position: absolute; width: 80%; }
.form-steps .pag-spinner { }
.form-steps .pag-spinner li.disabled { }
.form-steps .pag-spinner li.first { display: none !important; }
.form-steps .pag-spinner li.last { display: none !important; }
.form-steps .pag-spinner li.page { display: none !important; }
.form-steps .pag-spinner li.prev { position: absolute; left: 0; }
.form-steps .pag-spinner li.next { position: absolute; right: 0; }
.form-steps .pag-spinner li a { color: #6D93FF; font-size: 21px; padding: 4px 8px; display: block; }
.form-steps .pag-spinner li a:hover { text-decoration: none; }
label.dropdown select { padding: 10px 42px 10px 10px; background: #ffffff; color: #6d93ff; border: 0; font-family: 'GraphikSemibold'; display: inline-block; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; outline: none; margin: 0; font-size: 17px; line-height: 1.3; }
label.dropdown select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #444; }
label.dropdown select::-ms-expand { display: none; }
label.dropdown:before { content: ''; right: 5px; top: 3px; width: 30px; height: 33px; background: #ffffff; position: absolute; pointer-events: none; display: block; }
label.dropdown { position: relative; padding: 0; width: 80%; }
label.dropdown:after { content: '\f0da'; font: 20px 'FontAwesome'; color: #6d93ff; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); right: 0; top: 9px;/* border-bottom: 1px solid #6d93ff; */ position: absolute; pointer-events: none; width: 34px; padding: 0 0 5px 0; text-indent: 14px; }
@media screen\0 {
	label.dropdown:after { width: 38px; text-indent: 15px; right: 0; }
}
@media screen and (min--moz-device-pixel-ratio:0) {
	label.dropdown select { padding-right: 40px; }
	label.dropdown:before { right: 6px; }
	label.dropdown:after { text-indent: 14px; right: 6px; top: -5px; width: 36px; }
}
input[readonly], textarea[readonly] { background-color: transparent; border: 0; padding: 0; pointer-events: none; }
.stepsChoosed { position: fixed; bottom: 0; height: 100%; right: 0; left: 0; background: #00000033; z-index: 9; -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); -moz-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); opacity: 0; visibility: hidden; }
.stepsChoosed.in { opacity: 1; visibility: visible; }
.sc-content {/* max-width: 44%; */width: 550px;position: fixed;right: -20%;padding: 30px 60px 30px 90px;background: #FFF;top: 114px;overflow: auto;z-index: 99;bottom: 0;-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);-moz-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);}
.stepsChoosed.in .sc-content { right: 0; }
.plus-nav-steps.in { transform: rotate(-45deg); transform-origin: 7px 8px; }
.form-round input[type='text'].valid.card_visa { background-position: right -27px !important }
.form-round input[type='text'].valid.card_visa_electron { background-position: right -65px !important }
.form-round input[type='text'].valid.card_mastercard { background-position: right -103px !important }
.form-round input[type='text'].valid.card_maestro { background-position: right -141px !important }
.form-round input[type='text'].valid.card_discover { background-position: right -179px !important }
.form-round input[type='text'].valid.card_amex { background-position: right -216px !important }
.form-steps fieldset .form-group { max-width: 550px; margin-left: auto; margin-right: auto; border-radius: 6px; }
.form-steps .checkGroup { -moz-border-radius: 6px; border-radius: 6px; background: #FFF; -webkit-box-shadow: 1px 2px #EFEEEE; -moz-box-shadow: 1px 2px #EFEEEE; box-shadow: 1px 2px #EFEEEE; margin: 0 auto; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); }
.form-steps .checkGroup .inputGroup:first-of-type { border-top-left-radius: 6px; border-top-right-radius: 6px; overflow: hidden; }
.form-steps .checkGroup .inputGroup:last-of-type { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; overflow: hidden; }
.form-steps .inputGroup { background-color: #fff; display: block; position: relative; }
.form-steps .inputGroup label { padding: 12px 30px; width: 100%; display: block; text-align: left; color: #BFBFBF; cursor: pointer; position: relative; z-index: 2; -webkit-transition: color 200ms ease-in; -moz-transition: color 200ms ease-in; transition: color 200ms ease-in; overflow: hidden; padding: 27px 40px; font-size: 17px; font-family: 'GraphikSemibold' !important; }
.form-steps .inputGroup label:before { width: 100%; height: 100%; content: ''; background-color: #6D93FF; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1); -moz-transform: translate(-50%, -50%) transform:translate(-50%, -50%) scale3d(1, 1, 1); -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); -moz-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); opacity: 0; z-index: -1; }
.form-steps .inputGroup label:after { width: 28px; height: 28px; content: ''; border: 2px solid transparent; background-color: #fff; -moz-border-radius: 50%; border-radius: 50%; background-position: center center; z-index: 2; position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; transition: all 200ms ease-in; }
.form-steps .inputGroup input:checked ~ label { color: #fff; }
.form-steps .inputGroup input:checked ~ label:before { opacity: 1; }
.form-steps .inputGroup input:checked ~ label:after { background-color: #FFF; border-color: #FFF; width: 28px; height: 28px; content: ''; border: 2px solid transparent; background-color: #fff; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAAG3/V4gAAAABGdBTUEAALGPC/xhBQAAANNJREFUGBlljc8KgUEUxc/9/CkSoaysbZS1pYUlDyAlC4l88grKghJpxFq2noG9HcULeAOkSOa6g6/IqZnbnPO7ZwBRU7FtJlAfccpWvHm/PjdJPtfAnr5twZZgbF+eEFM5ZQf4IYuKg9YND8tJa32ORQjHqwvalJ8kyIKwHjfptWnddoiKuXIMs/nTaQxH9S6HXQHMBchpjYLbBI0BJy5nHGZtulYUx33AQirSrNEZtyhvGKr2OOT1Q8mvJQbu0uCRBnvSookB/pRps7sx5ORf8DGelnJG+SpqZ08AAAAASUVORK5CYII="); background-repeat: no-repeat; background-position: center center; }
.form-steps .inputGroup input { width: 32px; height: 32px; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; -moz-box-ordinal-group: 2; order: 1; z-index: 2; position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; visibility: hidden; }
input#c_cardcvv { background: url("../images/card-cvv.svg") right center no-repeat !important; opacity: 1; background-size: 40px !important; }
input[type="number"] { -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; }
.number-input { padding: 15px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; position: relative; min-height: 74px; }
.number-input, .number-input * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.number-input button { outline: none; -webkit-appearance: none; background-color: transparent; border: none; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 44px; padding: 0px 10px; cursor: pointer; margin: 0; position: relative; z-index: 99; width: 40px; }
.number-input button:after { display: inline-block; position: absolute; content: '\f067'; font: normal normal normal 21px/1 FontAwesome; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.number-input button.plus:after { content: '\f068'; }
.number-input input[type=number] { max-width: 5rem; padding: 0.5rem .5rem; font-size: 21px; text-align: center; font-weight: bold; opacity: 1; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; pointer-events: none; font-family: 'GraphikSemibold' !important; position: relative; top: -10px; }
.number-input span { border-width: 0 2px; font-size: 17px; font-weight: bold; font-family: 'GraphikSemibold' !important; position: absolute; left: 0; bottom: 16px; text-align: center; width: 100%; }
.testimonial-style3.owl-pagination-bottom .owl-dots { bottom: -90px; text-align: center; width: 100%; }
.testimonial-style3 .owl-nav .owl-next { left: inherit; margin: inherit; right: 50%; margin-right: -12%; top: calc(50% - 125px); }
section.discount-form { position: fixed; width: 100%; top: -101%; top: -101vh; left: 0; right: 0; z-index: 9999; background: #FFF; box-shadow: 0px 0px 12px rgba(163, 155, 155, 0.5); -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
section.discount-form .container-fluid { max-width: inherit; }
section.discount-form #closediscount { position: absolute; top: 0px; right: 0; z-index: 9999; }
section.discount-form .fields-content { padding: 60px 0; }
section.discount-form form { position: relative; }
section.discount-form form label { color: #AFAFAF; }
section.discount-form form button.btn { width: 100%; bottom: 0; top: 0; padding: 78px 0; font-size: 16px; }
section.discount-form form label.error { color: #FF0F0F; font-weight: 100; position: absolute; left: 15px; bottom: -30px; font-size: 11px; }
.hr-w { width: 155px; display: inline-block; }
.social a:hover, .social a:focus { text-decoration: none; }
a[href^=tel] { text-decoration: inherit; color: #FFF; }
section.razoes .confiar_slide .owl-dots { bottom: -155px; }
section.razoes .confiar_slide .owl-nav .owl-prev { right: inherit; margin-right: inherit; bottom: -190px; left: 375px; }
section.razoes .confiar_slide .owl-nav .owl-next { right: inherit; margin-left: inherit; margin-right: inherit; left: 460px; bottom: -190px; }
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; padding: 8px; cursor: default; overflow: auto; box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.19); margin-top: 8px; cursor: pointer; border-radius: 4px; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px; }
.autocomplete-selected { background: #6D93FF; color: #FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
.visible-xss { display: none; }

/******* Tablet Portrait *******/
@media (max-width:1600px) {
	.testimonial-style3 .owl-nav .owl-next { left: inherit; margin: inherit; right: 50%; margin-right: -34%; bottom: inherit; top: calc(50% - 125px); }
	section.razoes.veja-como { background: url("../images/bg-block2-confiar.jpg") no-repeat right; background-size: 90%; }
	section.razoes.como-funciona { background-size: 90%; background-position: right center; }
	section.razoes.confianca-cliente { background-size: 90%; background-position: right center; }
}
@media (max-width:1440px) {
	section.discount-form { padding-left: 0; }
	section.discount-form form { padding-left: 20px; }
	section.discount-form .fields-content { position: relative; }
	section.discount-form form label { font-size: 16px; }
	section.discount-form form button.btn { }
	section.discount-form form label.error { }
	section.vc-escolhe { background-size: 100%; }
	.mdd-text-preline { white-space: inherit }
	section.razoes .confiar_slide .owl-nav .owl-prev, section.razoes .confiar_slide .owl-nav .owl-next { bottom: -145px; }
	section.razoes .confiar_slide .owl-dots { bottom: -115px; }
}
@media (max-width:1024px) {
	.navbar .brand { margin: 10px 0 0; }
	section.discount-form { padding-left: 0; overflow-y: scroll; max-height: 100vh; height: 100vh; }
	section.discount-form form { padding-right: 0; padding-left: 0; }
	section.discount-form .fields-content { padding: 0; margin: 50px 60px 100px; }
	section.discount-form form .input-effect { margin-bottom: 70px; margin-bottom: 5px; margin-top: 60px; }
	section.discount-form form label { }
	section.discount-form form button.btn { padding: 20px 0; }
	section.discount-form.active form button.btn {/* position: fixed; */bottom: 0; top: inherit; }
	section.discount-form form label.error { position: relative; left: inherit; bottom: 0; }
	section.razoes { background-position: left bottom !important; }
	section.razoes .title-c { margin-top: 180px; }
	section.razoes .hr-w, section.razoes-cuidador .hr-w { width: 155px; display: inline-block; }
	section.razoes .bl-1 { height: auto !important; margin-bottom: 170px; }
	section.razoes .bl-1>div { padding: 0; margin: inherit; }
	section.razoes .bl-2 { }
	section.razoes .confiar_slide .owl-dots { bottom: -185px; }
	section.razoes .confiar_slide .owl-nav .owl-prev { right: inherit; margin-right: inherit; bottom: -220px; left: 360px; }
	section.razoes .confiar_slide .owl-nav .owl-next { right: inherit; margin-left: inherit; margin-right: inherit; left: 445px; bottom: -220px; }
	section.razoes-servicos { }
	section.razoes-servicos h3 { }
	section.razoes-servicos>div.text-large { }
	section.razoes-servicos .tab-pane { }
	section.razoes-servicos .tab-pane p { }
	section.razoes-servicos .tab-pane div.text-large { }
	section.razoes-servicos .tab-style5 { }
	section.razoes-servicos .tab-style5 li { margin: 0px 10px; }
	section.razoes-servicos .tab-style5 li a { padding: inherit; font-size: 15px; border-bottom: 0; }
	.tab-style5 .nav-tabs { margin: 0 !important; }
	.successdiscount { padding: 80px 0 0 0; }
	.white-popup-block { padding: 70px 15px 30px; margin: 20px; }
	.stepsChoosed .sc-content {max-width: 480px;padding: 20px 40px 40px;}
	.white-popup-block a.navbar-full-toggle {position: fixed;right: 40px;top: 40px;left: 40px;text-align: right;z-index: 99;}
}

/******* Smartphone *******/
@media (min-width:768px) {
	.titens_slide.owl-carousel { display: block; }
	.expand { pointer-events: none; }
}
@media (max-width:767px) {
	.fakeh { height: 91px; }
	.navbar.shrink-nav.shrink { padding: 10px 20px 4px !important; min-height: 91px; }
	.navbar-toggle { }
	section.discount-form .fields-content { margin: 30px 20px 50px; }
	section.discount-form form .input-effect { margin-bottom: 5px; margin-top: 20px; }
	section.discount-form form label.error { position: relative; left: inherit; bottom: 0; }
	section.razoes .confiar_slide .owl-dots { text-align: center; width: 100%; bottom: -80px; }
	.owl-dark-pagination .owl-item.active { margin: inherit; }
	section.razoes .bl-1>div { padding: 0; }
	section.razoes .title-c { margin-top: 113px; }
	section:not(.hero) .tab-content .tab-pane { opacity: 1; display: block; visibility: visible; }
	.tab-style5 .nav-tabs { text-align: center; }
	.tab-style5 .nav-tabs li a { -webkit-transition: none .4s ease-in-out; -moz-transition: none .4s ease-in-out; -ms-transition: none .4s ease-in-out; -o-transition: none .4s ease-in-out; transition: none .4s ease-in-out }
	.tab-style5 .nav-tabs li a p { margin: 0; }
	.tab-style5 .nav-tabs li a:hover { border-bottom: 0 !important; }
	.tab-style5 .nav-tabs li.active a:hover { border-bottom: 7px solid #6D93FF !important; }
	section.razoes-servicos .tab-style5 li, section.razoes-servicos-vantagens .tab-style5 li { padding: 10px 0; }
	section .titens_slide .owl-dots { bottom: -170px; width: 100%; text-align: center; }
	section .titens_slide.nbtn .owl-dots { bottom: -20px; }
	section .tab-content .titens_slide .owl-dots { bottom: -60px; }
	section.razoes-servicos .tab-content .owl-stage .owl-item, section .tab-content .owl-stage .owl-item > div { height: 576px; background-size: cover !important; }
	section .three-icons { margin-top: -100px; position: relative; }
	section .titens_slide img { width: inherit !important; }
	section .three-icons.cuidador { margin-top: -100px; }
	section.confianca-cliente-sc2 .three-icons { margin-top: -130px; }
	.progress { top: 91px; }
	.stepsChoosed { z-index: 9999; }
	.stepsChoosed .sc-content {max-width: 440px;top: 0;padding: 110px 40px 40px;}
}

/******* Smartphone *******/
@media (max-width:480px) {
	section.discount-form .fields-content { margin: 40px 20px 50px; position: relative; }
	section.discount-form form .input-effect { margin-bottom: 15px; margin-top: 20px; }
	section.discount-form form label.error { position: relative; left: inherit; bottom: 0; }
	section.razoes { background-position: left center !important; background-image: url('../images/bg-block1-razoes-m.jpg'); }
	section.razoes .title-c { margin-top: 0; }
	.form-round .input-effect, .form-round label { padding-left: 17px; }
	.form-round label.error { padding-left: 5px; padding-right: 0; }
	section.confianca-seguranca { background-image: url('../images/bg-block3-home-m.jpg'); }
	.row-full { width: 100vw; position: relative; margin-left: -50vw; left: 50%; }
	.collapse-form { display: none; }
	.form-round a.clone_field { padding: 13px 17px; }
	.tab-style5 .nav li { margin: 0 !important; }
	.xss-width-100 { width: 100%; }
	.form-round .form-group a.delete-field { right: -25px; }
	.visible-xss { display: block !important; }
	.stepsChoosed {/* z-index: 9999; */ }
	.stepsChoosed .sc-content { max-width: 340px; }
}

/******* Smartphone *******/
@media (max-width:375px) { }
